<div align="end" style="margin-bottom: -40px">
    <button mat-raised-button type="button" (click)="printWindowCurrent()">Imprimir</button>
    <button mat-raised-button type="button" class="m-l-10" color="warn" (click)="close()">Voltar</button>
</div>
<div id="impressao" cdkFocusInitial>
    <div fxLayout="row wrap">
        <!-- Card column -->
        <div fxFlex.gt-sm="100%" fxFlex="100">
            <div fxLayout="row wrap" class="row">
                <div class="p-10">
                    <img src="./assets/images/logo.png" alt="logo">
                </div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" > Cliente: {{data.nome_fantasia}}</div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" > Razão social: {{data.razao_social}}</div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" > Endereço: {{endereco}}</div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" > Contato: {{data.representante}}</div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" > Telefone: {{data.telefone | mask: "(00) 0000-0000"}}</div>                

                <table mat-table [dataSource]="dataSource" style="width: 100%; font-family: Verdana, Tahoma, Arial, Sans-serif;">
                    
                    <ng-container matColumnDef="num_pedido" >
                        <th mat-header-cell *matHeaderCellDef > Num. Pedido </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos" > {{element.num_pedido}}</td>
                    </ng-container>

                    <ng-container matColumnDef="data_emissao">
                        <th mat-header-cell *matHeaderCellDef > Dt Pedido </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos"> {{element.data_emissao | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="codigo_catalogo">
                        <th mat-header-cell *matHeaderCellDef style="padding-right: 5px;"> Cód. Produto </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos" style="padding-right: 5px;"> {{element.codigo_catalogo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef > Produto </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos" > {{element.nome}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Valor Un. </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right"> {{element.valor | currency:'BRL':true:'1.2-2'}} </td>
                        <!-- {{getTotalCost() | currency}} -->
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 30px !important;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 25px !important;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>