<div align="end" style="margin-bottom: -40px">
    <button mat-raised-button type="button" (click)="exportar()">Gerar Excel</button>
    <button mat-raised-button type="button" class="m-l-10" (click)="printWindowCurrent()">Imprimir</button>
    <button mat-raised-button type="button" class="m-l-10" color="warn" (click)="close()">Voltar</button>
</div>
<div id="impressao" cdkFocusInitial>
    <div fxLayout="row wrap">
        <!-- Card column -->
        <div fxFlex.gt-sm="100%" fxFlex="100">
            <div fxLayout="row wrap" class="row">
                <div class="p-10">
                    <img src="./assets/images/logo.png" alt="logo">
                </div>
                <div class="p-t-10 p-l-10 text-left" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"><span style="font-weight: 500;"> Relatório Comparativo de Vendas</span></div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="data.form.dtInicio != null"> Inicio: {{data.form.dtInicio | date:'dd/MM/yyyy'}}</div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="data.form.dtFinal != null"> Fim: {{data.form.dtFinal | date:'dd/MM/yyyy'}}</div>
                <table mat-table [dataSource]="dataSource" style="width: 100%; font-family: Verdana, Tahoma, Arial, Sans-serif;">
                    
                    <ng-container matColumnDef="NAME" >
                        <th mat-header-cell *matHeaderCellDef class="text-left" > Mês </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-left" > {{element.name}}</td>
                        <td mat-footer-cell *matFooterCellDef class="cliente-width"> <span style="font-weight: 500;">Total: </span></td>
                    </ng-container>

                    <ng-container matColumnDef="TOTAL">
                        <th mat-header-cell *matHeaderCellDef class="text-right" > Valor total das Vendas </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right"> {{element.total | currency:'BRL':true:'1.2-2' }}</td>
                        <td mat-footer-cell *matFooterCellDef class="text-right tamanhoPedidos"> {{somarTotal() | currency:'BRL':true:'1.2-2'}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 30px !important;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 25px !important;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns" style="height: 30px !important;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>