
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card class="no-shadow">
      <mat-card-content>
        <form [formGroup]="form">
          <mat-card-title class="title">{{pageTitle}}</mat-card-title>
          <div fxLayout="row wrap" class="row">
            <div class="p-10 text" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
              <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                <mat-label>Selecione a representada...</mat-label>
                <mat-select formControlName="representada">
                  <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                    {{representada.nome_fantasia}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="areas.length != 0" class="p-10 text" fxFlex.gt-sm="33.33"
              fxFlex.gt-xs="33.33" fxFlex="100">
              <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                <mat-label>Selecione a área de venda...</mat-label>
                <mat-select formControlName="area">
                  <mat-option *ngFor="let area of areas" [value]="area.id">
                    {{area.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="funcionarios.length != 0" class="p-10 text" fxFlex.gt-sm="33.33"
              fxFlex.gt-xs="33.33" fxFlex="100">
              <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                <mat-label>Selecione um funcionário...</mat-label>
                <mat-select formControlName="funcionario">
                  <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">
                    {{funcionario.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="clientes.length != 0 && form.controls['area'].value != null" class="p-10 text" fxFlex.gt-sm="33.33"
            fxFlex.gt-xs="33.33" fxFlex="100">
            <mat-form-field [hideRequiredMarker]="true" appearance="outline">
              <mat-label>Selecione um cliente...</mat-label>
              <mat-select formControlName="cliente">
                <mat-option *ngFor="let cliente of Clientes(form.controls['area'].value)" [value]="cliente.id">
                  {{cliente.razao_social}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          </div>
          Periodo:
          <div *ngIf="show" fxLayout="row wrap">
            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <mat-radio-group formControlName="tipo" appearance="outline">
                    <mat-radio-button  value="todas" class="m-r-10">Todas</mat-radio-button>
                    <mat-radio-button *ngIf="rota != 'recebimento'"value="abertas" class="m-r-10">Abertas</mat-radio-button>
                    <mat-radio-button *ngIf="rota == 'recebimento'"value="vencidas" class="m-r-10">Vencidas</mat-radio-button>
                    <mat-radio-button *ngIf="rota == 'devolucoes'"value="Descontadas" class="m-r-10">Descontadas</mat-radio-button>
                    <mat-radio-button *ngIf="rota == 'estorno'"value="Estornadas" class="m-r-10">Estornadas</mat-radio-button>
                    <mat-radio-button *ngIf="rota == 'recebimento'"value="recebidas">Recebidas</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
          <div fxLayout="row wrap" class="row">
            <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dtInicio" placeholder="Data inicial">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="dtFinal" placeholder="Data final">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-raised-button color="primary" type="submit" (click)="Submit()">Filtrar</button>
            <button mat-raised-button class="m-l-10" color="warn" (click)="clear()">Limpar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>