<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card class="no-shadow">
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-card-title class="title">{{pageTitle}}</mat-card-title>
                    <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-radio-group formControlName="tipo" appearance="outline">
                                <mat-radio-button value="Pedido" class="m-r-10">Pedido</mat-radio-button>
                                <mat-radio-button value="Faturado" class="m-r-10">Faturado</mat-radio-button>
                                <mat-radio-button value="Recebido">Recebido</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div fxLayout="row wrap" class="row">
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data inicial</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dtInicio"
                                    placeholder="Data inicial">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data final</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="dtFinal"
                                    placeholder="Data final">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Número da nota</mat-label>
                                <input matInput placeholder="Número da Nota" formControlName="nota">
                            </mat-form-field>
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
                            <mat-form-field [hideRequiredMarker]="true" appearance="outline">
                                <mat-label>Selecione a representada...</mat-label>
                                <mat-select formControlName="representada">
                                    <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                                        {{representada.nome_fantasia}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" type="submit" (click)="Submit()">Filtrar</button>
                        <button mat-raised-button class="m-l-10" color="warn" (click)="clear()">Limpar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="showTable">
            <mat-card-content>
              <ngx-datatable
                #myTable
                class="material expandable"
                [columnMode]="'flex'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [rows]="rows"
                [selected]="selected"
                [selectionType]="SelectionType.checkbox"
                (page)="onPage($event)">
                <!-- Row Detail Template -->
                <ngx-datatable-row-detail rowHeight="(row.nota_parcelas.lenght * 70)" #myDetailRow (toggle)="onDetailToggle($event)">
                  <ng-template ngx-datatable-row-detail-template let-row="row" let-expanded="expanded" >
                    <div style="padding-left:35px;">
                      <div fxLayout="row wrap">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Vlw Unit.</th>
                            <th scope="col">Comissão %</th>
                            <th scope="col">Comissão receber</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cols of produtos index as i" class="center">
                            <td>{{ cols.produto.codigo }}</td>
                            <td>{{ cols.produto.nome }}</td>
                            <td>{{ cols.quantidade }}</td>
                            <td>{{ cols.valor_unitario | currency : 'R$' }}</td>
                            <td>{{ cols.comissao_produto}}%</td>
                            <td>{{ ((cols.valor_unitario * cols.quantidade) * cols.comissao_produto )/100 | currency : 'R$' }}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>
                <!-- Column Templates -->
                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" >
                  <ng-template let-value="value" let-expanded="expandedAll" ngx-datatable-header-template>
                    <a
                      href="javascript:void(0)"
                      [class.datatable-icon-right]="!expandedAll"
                      [class.datatable-icon-down]="expandedAll"
                      title="Expand/Collapse Row"
                      (click)="toggleExpandRowAll(value)"
                    >
                    </a>
                  </ng-template>
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a
                      href="javascript:void(0)"
                      [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded"
                      title="Expand/Collapse Row"
                      (click)="toggleExpandRow(row)"
                    >
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Num. Pedido" prop="num_pedido" [flexGrow]="0.5">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{ value }}</strong>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Representada" prop="representada.razao_social" [flexGrow]="0.6">
                  <ng-template let-row="row" let-value="value"  ngx-datatable-cell-template>
                  {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Cliente" prop="cliente.razao_social" [flexGrow]="1.5">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <!--<i [innerHTML]="row['name']"></i> and <i>{{ value }}</i>-->
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dt. Emissão" prop="data_emissao" [flexGrow]="0.6">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date:'dd/MM/yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total Liq" prop="valor_liquido" [flexGrow]="0.5">
                  <ng-template let-value="value"  ngx-datatable-cell-template>
                    {{ value | currency : 'R$'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comissão média" prop="comissao_media" [flexGrow]="0.5">
                  <ng-template let-value="value"  ngx-datatable-cell-template>
                    {{ value }}%
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comissão Bruto" prop="comissao_bruto" [flexGrow]="0.5">
                  <ng-template let-value="value"  ngx-datatable-cell-template>
                    {{ value | currency : 'R$'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comissão Liq." prop="comissao_bruto" [flexGrow]="0.5">
                  <ng-template let-value="value"  ngx-datatable-cell-template>
                    {{ value | currency : 'R$'}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <div class="m-t-10">
                <button mat-raised-button color="primary" (click)="sendBaixa()">Confirmar recebimento</button>
              </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>