<input #fileInput type="file" (change)="incomingfile($event)" accept=".xlsx,.xls" hidden />
<div *ngIf="rows.length > 0" fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title style="font-weight: bold;font-size: x-large;">{{page.titulo}}</mat-card-title>
        <mat-card-actions align="end">
          <div class="button-row">
            <button mat-raised-button color="primary" type="button" (click)="loadDialog()">
              <mat-icon class="example-icon">add_box</mat-icon> {{page.add.titulo}}
            </button>
          </div> 
        </mat-card-actions> 
      </mat-card-content>
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngFor="let step of steps let i = index" class="aba" label="{{step.titulo}}" >
          <mat-card-content>
            <mat-form-field >
              <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
              (keyup)='updateFilter($event)' />
            </mat-form-field>
            <ngx-datatable 
            class='material striped' 
            [columnMode]="'flex'" 
            [headerHeight]="50" 
            [footerHeight]="50"
            [rowHeight]="'auto'" 
            [limit]="20"
            [rows]='rows[i]' 
            [selected]="selected"
            (select)='onSelect($event)' 
            [sorts]="[{prop: 'id', dir: 'asc'}]">
              <ng-container *ngFor="let col of step.columns " >
                <ngx-datatable-column [flexGrow]=col.width name="{{col.name}}" prop="{{col.prop}}">
                  <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span [ngSwitch]="col.prop"> 
                      <span  *ngSwitchCase="'valor'">  {{value | currency:'BRL':true:'1.2-2'}} </span>
                      <span  *ngSwitchCase="'movim'">  {{value | date:'dd/MM/yyyy'}} </span>
                      <span  *ngSwitchCase="'vencto'"> {{value | date:'dd/MM/yyyy'}} </span>
                      <span  *ngSwitchDefault> {{value}} </span>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ng-container>
            </ngx-datatable >
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>    
  </div>
</div>