<div fxLayout="row" fxLayoutWrap="wrap" [hidden]="true">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <form [formGroup]="form">
      <div fxLayout="row" fxLayoutWrap="wrap" class="row">
        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card-header class="bg-info text-white">
            <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
          </mat-card-header>
        </div>
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
          <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
            [floatLabel]="form.value.floatLabel">
            <mat-label>Selecione um funcionario</mat-label>
            <mat-select required [formControl]="form.controls['funcionario_id']">
              <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">
                {{funcionario.nome}}
              </mat-option>
            </mat-select>
            <mat-placeholder>Funcionário</mat-placeholder>
          </mat-form-field>
        </div>
        <div class="p-20" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
          <button mat-button (click)="addComissao()"><i class="material-icons">add</i> Adicionar Representada</button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap" class="row" formArrayName="comissoes">
          <div fxLayout="row" *ngFor="let representada of comissoes().controls; let comIndex = index">
            <div [formGroupName]="comIndex">
              <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Selecione uma representada</mat-label>
                  <mat-select required formControlName="representada_id">
                    <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                      {{representada.nome_fantasia}}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>Representada</mat-placeholder>
                </mat-form-field>
              </div>
              <div class="p-20" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                <button mat-button (click)="addComissaoFaixa(comIndex)"><i class="material-icons">add</i> Adicionar
                  Faixa</button>
              </div>
              <div formArrayName="faixas">
                <div fxLayout="row" *ngFor="let item of comissaoFaixas(comIndex).controls; let faixaIndex = index">
                  <ng-container [formGroupName]="faixaIndex">
                    <div class="p-10" fxLayoutGap="10px" fxFlex="100">
                      <mat-form-field appearance="outline">
                        <mat-label>A partir de (%)</mat-label>
                        <input matInput placeholder="a partir de %" formControlName="inicial">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Percentual</mat-label>
                        <input matInput placeholder="Percentual" formControlName="final">
                      </mat-form-field>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
      </div>
      <mat-card-actions class="p-10">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
          (click)="areaVendasSubmit(); close()">Salvar</button>
        <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
      </mat-card-actions>
    </form>
  </div>
</div>


{{form.value | json}}
