<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card class="no-shadow">
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-card-title class="title">Relatório de Pedidos</mat-card-title>
                    <div fxLayout="row wrap" class="row">
                        <div class="p-10 text" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Selecione a representada...</mat-label>
                                <mat-select>
                                    <!--mat-option *ngFor="let representada of representadas" [value]="representada.id">
                                        {{representada.nome_fantasia}}
                                    </mat-option-->
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-radio-group appearance="outline">
                                <mat-radio-button value="" class="m-r-10">Todos</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Ativas</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Canceladas</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Baixa por Perda</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Desvolvidas</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-radio-group appearance="outline">
                                <mat-radio-button value="" class="m-r-10">Apenas Notas com Observação</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div fxLayout="row wrap" class="row">
                        <div class="p-10 text" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Selecione a representada...</mat-label>
                                <mat-select>
                                    <!--mat-option *ngFor="let representada of representadas" [value]="representada.id">
                                        {{representada.nome_fantasia}}
                                    </mat-option-->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Ramo de atividade</mat-label>
                                <mat-select>
                                    <mat-option value=""></mat-option>
                                    <mat-option value=""></mat-option>
                                    <mat-option value=""></mat-option>
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="order text" fxFlex.gt-sm="8" fxFlex.gt-xs="8" fxFlex="100">
                            Período:
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data inicial</mat-label>
                                <input matInput [matDatepicker]="" 
                                    placeholder="Data inicial">
                                <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data final</mat-label>
                                <input matInput [matDatepicker]="" 
                                    placeholder="Data final">
                                <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="order text" fxFlex.gt-sm="8" fxFlex.gt-xs="8" fxFlex="100">
                            Data da entrega:
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data inicial</mat-label>
                                <input matInput [matDatepicker]="" 
                                    placeholder="Data inicial">
                                <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data final</mat-label>
                                <input matInput [matDatepicker]="" 
                                    placeholder="Data final">
                                <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-radio-group appearance="outline">
                                <mat-radio-button value="" class="m-r-10">Todos</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Apenas de Clientes</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Apenas de Prospecção</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-radio-group appearance="outline">
                                <mat-radio-button value="" class="m-r-10">Cliente</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Data</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Valor</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Crescente</mat-radio-button>
                                <mat-radio-button value="" class="m-r-10">Descrescente</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" type="submit" (click)="submit()">Filtrar</button>
                        <button mat-raised-button class="m-l-10" color="warn" (click)="clear()">Limpar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>