<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card class="no-shadow">
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-card-title class="title">Relatório de Notas</mat-card-title>
                    <mat-divider></mat-divider>
                    <div fxLayout="row wrap">

                        <div class="p-10 text" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Selecione a representada...</mat-label>
                                <mat-select formControlName="representada_id">
                                    <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                                        {{representada.nome_fantasia}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="p-t-20 text" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
                            <mat-checkbox formControlName="obs">Apenas Notas com Observação</mat-checkbox>
                        </div>

                        <div class="p-l-10 p-b-10" fxFlex="100">
                            <mat-radio-group appearance="outline" formControlName="status">
                                <mat-radio-button value="todos" class="m-r-10">Todos</mat-radio-button>
                                <mat-radio-button value="ativas" class="m-r-10">Ativas</mat-radio-button>
                                <mat-radio-button value="faturado" class="m-r-10">Canceladas</mat-radio-button>
                                <mat-radio-button value="baixas" class="m-r-10">Baixas por perda</mat-radio-button>
                                <mat-radio-button value="devolvidas" class="m-r-10">Devolvidas</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="show-title" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span class="p-l-10"> Período</span>
                        </div>

                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data inicial</mat-label>
                                <input matInput [matDatepicker]="dtInicio" placeholder="Data inicial"
                                    formControlName="data_inicial">
                                <mat-datepicker-toggle matSuffix [for]="dtInicio"></mat-datepicker-toggle>
                                <mat-datepicker #dtInicio></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data final</mat-label>
                                <input matInput [matDatepicker]="dtFim" placeholder="Data final"
                                    formControlName="data_final">
                                <mat-datepicker-toggle matSuffix [for]="dtFim"></mat-datepicker-toggle>
                                <mat-datepicker #dtFim></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="show-title" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span class="p-l-10"> Ordenação</span>
                        </div>

                        <div class="p-10 text m-b-10" fxFlex="30">
                            <mat-form-field appearance="outline">
                                <mat-label>Ordenação</mat-label>
                                <mat-select formControlName="ordenacao">
                                    <mat-option [value]=null></mat-option>
                                    <mat-option value="valor">Valor</mat-option>
                                    <mat-option value="data">Data</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="p-10 text m-b-10" fxFlex="30">
                            <mat-form-field appearance="outline">
                                <mat-label>tipo</mat-label>
                                <mat-select formControlName="tipo_ordenacao">
                                    <mat-option value="asc">Crescente</mat-option>
                                    <mat-option value="desc">Decrescente</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div>
                        <button mat-raised-button color="primary" type="submit" (click)="submit()">Filtrar</button>
                        <button mat-raised-button class="m-l-10" color="warn" (click)="clear()">Limpar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>