
<div align="end" style="margin-bottom: -40px">
    <button mat-raised-button type="button" (click)="export_to_excell()">Gerar Excel</button>
    <button mat-raised-button type="button" class="m-l-10" (click)="printWindowCurrent()">Imprimir</button>
    <button mat-raised-button type="button" class="m-l-10" color="warn" [mat-dialog-close]="true">Voltar</button>
</div>
<div id="imprimir" cdkFocusInitial> 
    <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="row wrap">
            <div class="p-10" fxFlex="100">
                <img src="./assets/images/logo.png" alt="logo">
            </div>
            <div class="text-left font-bold font-16 m-b-10" fxFlex="100" > Relatório de Comissões</div>
            <div fxFlex="100" fxLayout="row wrap" class="font-14" >
                <div fxFlex="100">
                    Data Inicio: <span class="font-bold m-r-10">{{data.form.dtInicio | date:'dd/MM/yyyy'}}</span> até Data Final:  <span class="font-bold">{{data.form.dtFinal | date:'dd/MM/yyyy'}}</span> ,
                    por Data de <span class="font-bold">{{ data.form.tipo === 'data_faturamento' ? 'Faturamento' : data.form.tipo === 'data_recebimento' ? 'Recebimento' : 'Vencimento' }}</span>
                </div>
                <div fxFlex="100" *ngIf="data?.form.representada_id != null">
                    Representada: <span class="font-bold">{{data.representada.nome_fantasia}}</span>
                </div>
                <div fxFlex="100" *ngIf="data?.form.area_venda_id != null">
                    Área de Venda: <span class="font-bold">{{data.area.nome}}</span>
                </div>
                <div fxFlex="100" *ngIf="data?.form.cliente_id != null">
                    Cliente: <span class="font-bold">{{data.cliente.razao_social}}</span>
                </div>
                <div fxFlex="100">
                    Situação: <span class="font-bold m-r-10">{{data.form.filtro | titlecase}}</span>, Ordenação : 
                    <span class="font-bold m-r-10">{{ data.form.ordenacao == 'num_nota' ? 'Nota' : data.form.ordenacao == 'Pedidos.num_pedido' ? 'Pedido' : data.form.ordenacao == 'data_faturamento' ? 'Data' : 'Cliente' }}</span>,
                    {{ data.form.ordenacao_tipo == 'asc' ? 'Crescente' : 'Descrecente'}}
                </div>
            </div>
        </div>
    </div>
    <table id="table" #table class="table-striped table w-100 m-t-20">
        <thead class="font-14">
            <tr>
                <th >Representada</th>
                <th class="cliente-width">Cliente</th>
                <th >Núm. Nota</th>
                <th >Núm. Pedido</th>
                <th >Data</th>
                <th >Valor Total</th>
                <th >Comissão</th>
                <th >Comissão %</th>
            </tr>
        </thead>
        <tbody class="font-12">
            <tr *ngFor="let registro of data?.registros index as i">
                <td >{{ registro.pedido.representada.nome_fantasia }}</td>
                <td class="cliente-width">{{ registro.pedido.cliente.razao_social }}</td>
                <td >{{ registro.num_nota }}</td>
                <td >
                    <div >{{ registro.pedido.num_pedido }} </div>
                    <div class="inner-header">Parcela</div>
                    <div *ngFor="let parcela of registro.nota_parcelas">{{parcela.parcela}}</div>
                </td>
                <td >
                    <div>{{ registro.data_faturamento | date: 'dd/MM/yyyy' }}</div>
                    <div class="inner-header">Vencimento</div>
                    <div *ngFor="let parcela of registro.nota_parcelas">{{parcela.data_vencimento | date: 'dd/MM/yyyy'}}</div>
                </td>
                <td >
                    <div>{{ registro.total | currency:'BRL':'symbol':'1.2-5':'pt' }}</div>
                    <div class="inner-header">Valor Parcela</div>
                    <div *ngFor="let parcela of registro.nota_parcelas">{{parcela.valor | currency:'BRL':'symbol':'1.2-5':'pt'}}</div>
                </td>
                <td >
                    <div>{{ registro.total * registro.pedido.comissao_media / 100 | currency:'BRL':'symbol':'1.2-5':'pt' }}</div>
                    <div class="inner-header">Comissão Parcela</div>
                    <div *ngFor="let parcela of registro.nota_parcelas">{{parcela.valor * registro.pedido.comissao_media / 100 | currency:'BRL':'symbol':'1.2-5':'pt'}}</div>
                </td>
                <td >{{ registro.pedido.comissao_media}}%</td>
            </tr>
        </tbody>
        <tfoot class="font-12">
            <tr>
                <th> Total:</th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> {{ somar('total') | currency:'BRL':'symbol':'1.2-5':'pt'}} </th>
                <th> {{ somar('comissao') | currency:'BRL':'symbol':'1.2-5':'pt'}} </th>
                <th> </th>
            </tr>
        </tfoot>
    </table>
</div>