.dialog{
  max-Width: '85vw';
  max-Height: '105vh';
  min-width: '75vw';
  min-height: '95vh';
}
.bt{
  margin-left: 10px;
}
.dadosCadastro{
  font-size: larger;
  align-items: center;
  margin-top: 16px;
}
.aj{
  margin-top: -20px;
}

.form {
  font-size: 11px;
}