<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<form [formGroup]="form" class="form">
  <div fxLayout="row wrap" class="row">
    <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card-header class="bg-info text-white">
        <mat-card-title >{{pageTitle}}</mat-card-title>
      </mat-card-header>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="30" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>CNPJ*</mat-label>
        <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" formControlName="cnpj" (blur)="onBlurCnpj()" type="digits" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('cnpj').errors?.required && form.get('cnpj').touched"
        class="text-danger font-14">Você precisa inserir um CNPJ.</small>
      <small *ngIf="form.get('cnpj').errors?.minlength && form.get('cnpj').touched"
        class="text-danger font-14">Você precisa inserir um CNPJ válido.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Inscrição estadual</mat-label>
        <input matInput placeholder="Inscrição estadual" formControlName="inscricao_estadual" type="digits" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('inscricao_estadual').errors?.required && form.get('inscricao_estadual').touched"
        class="text-danger font-14">Você precisa inserir a inscrição estadual.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Comissão</mat-label>
        <input matInput placeholder="Comissão" formControlName="comissao_padrao" type="digits" [readonly]="readonly">
      </mat-form-field>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Selecione o status</mat-label>
        <mat-select formControlName="status" [disabled]="readonly">
          <mat-option [value]=true>Ativo</mat-option>
          <mat-option [value]=false>Inativo</mat-option>
        </mat-select>
      </mat-form-field>
      <small *ngIf="form.get('status').errors?.required && form.get('status').touched"
        class="text-danger font-14">Você precisa selecionar o status.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Nome fantasia*</mat-label>
        <input matInput placeholder="Nome fantasia" formControlName="nome_fantasia" [readonly]="readonly">
      </mat-form-field>
      <mat-hint *ngIf="form.get('nome_fantasia').errors?.required && form.get('nome_fantasia').touched"
        class="text-danger font-14">Você deve incluir um nome fantasia.</mat-hint>
      <mat-hint *ngIf="form.get('nome_fantasia').errors?.minlength && form.get('nome_fantasia').touched"
        class="text-danger font-14">O nome tem que ter no mínimo 5 caracteres.</mat-hint>
      <mat-hint *ngIf="form.get('nome_fantasia').errors?.maxlength && form.get('nome_fantasia').touched"
        class="text-danger font-14">O nome não deve exceder 50 caracteres</mat-hint>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Razão social*</mat-label>
        <input matInput placeholder="Razão social*" formControlName="razao_social" [readonly]="readonly">
      </mat-form-field>
      <mat-hint *ngIf="form.get('razao_social').errors?.required && form.get('razao_social').touched"
        class="text-danger font-14">Você deve incluir uma razão social.</mat-hint>
      <mat-hint *ngIf="form.get('razao_social').errors?.minlength && form.get('razao_social').touched"
        class="text-danger font-14">A razão social tem que conter no mínimo 5 caracteres.</mat-hint>
      <mat-hint *ngIf="form.get('razao_social').errors?.maxlength && form.get('razao_social').touched"
        class="text-danger font-14">A razão social não deve exceder 50 caracteres</mat-hint>
    </div>
  </div>
  <div formGroupName="endereco" fxLayout="row wrap" class="row">
    <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card-header class="bg-info text-white">
        <mat-card-title class="Endereco">Endereço</mat-card-title>
      </mat-card-header>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="13" fxFlex.gt-xs="13" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP" mask="00000-000" (blur)="onBlurMethod()" formControlName="cep" [readonly]="readonly">
      </mat-form-field>
      <mat-hint *ngIf="form.get('endereco.cep').errors?.required && form.get('endereco.cep').touched"
        class="text-danger font-14">Você deve inserir o CEP.</mat-hint>
      <mat-hint *ngIf="form.get('endereco.cep').errors?.minlength && form.get('endereco.cep').touched"
        class="text-danger font-14">O nome deve conter no mínimo 8 caracteres.</mat-hint>
      <mat-hint *ngIf="form.get('endereco.cep').errors?.maxlength && form.get('endereco.cep').touched"
        class="text-danger font-14">Seu cep não deve exceder 8 caracteres.</mat-hint>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="52" fxFlex.gt-xs="52" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Logradouro</mat-label>
        <input matInput placeholder="Logradouro" formControlName="logradouro" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('endereco.logradouro').errors?.required && form.get('endereco.logradouro').touched"
        class="text-danger font-14">Você precisa deve inserir um endereço.</small>
      <small *ngIf="form.get('endereco.logradouro').errors?.number && form.get('endereco.logradouro').touched"
        class="text-danger font-14">O endereço precisa ser válido.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Número" formControlName="numero" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('endereco.numero').errors?.required && form.get('endereco.numero').touched"
        class="text-danger font-14">Você precisa deve inserir um Número.</small>
      <small *ngIf="form.get('endereco.numero').errors?.number && form.get('endereco.numero').touched"
        class="text-danger font-14">O Número precisa ser válido.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="21" fxFlex.gt-xs="21" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Complemento" formControlName="complemento" [readonly]="readonly">
      </mat-form-field>
      <mat-hint *ngIf="form.get('endereco.complemento').errors?.required && form.get('endereco.complemento').touched"
        class="text-danger font-14">Você deve incluir um complemento.</mat-hint>
      <mat-hint *ngIf="form.get('endereco.complemento').errors?.minlength && form.get('endereco.complemento').touched"
        class="text-danger font-14">O complemento tem que ter no mínimo 5 caracteres.</mat-hint>
      <mat-hint *ngIf="form.get('endereco.complemento').errors?.maxlength && form.get('endereco.complemento').touched"
        class="text-danger font-14">O complemento não deve exceder 50 caracteres</mat-hint>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="Bairro" formControlName="bairro" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('endereco.bairro').errors?.required && form.get('endereco.bairro').touched"
        class="text-danger font-14">Você precisa deve inserir um bairro.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="36" fxFlex.gt-xs="36" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" formControlName="cidade" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('endereco.cidade').errors?.required && form.get('endereco.cidade').touched"
        class="text-danger font-14">Você precisa deve inserir uma cidade.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="34" fxFlex.gt-xs="34" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado" formControlName="estado" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('endereco.estado').errors?.required && form.get('endereco.estado').touched"
        class="text-danger font-14">Você precisa deve inserir um estado.</small>
    </div>
  </div>
  <div formArrayName="representada_fretes" fxLayout="row wrap" class="row" fxflex="100">
    <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" >
      <h4 class="dadosCadastro"><span style="margin-left: 10%;">Valores de Frete</span>
        <a style="float: right;" (click)="addRepresentadaFrete()" *ngIf="!readonly"><i class="material-icons plus-icons">add_circle_outline</i>
          <span class="title">Nova Valor de frete</span></a>
      </h4>
    </div>
    <div fxLayout="row wrap" *ngFor="let e of form.get('representada_fretes').controls; index as i" [formGroupName]="i" fxFlex="50">
        <div class="p-10 aj ml-5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          Frete - {{i + 1}}
          <button mat-icon-button (click)="delRepresentadaFrete(i)" *ngIf="!readonly">
            <mat-icon class="clear">clear</mat-icon>
          </button>
        </div>
        
        <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100" style="margin-left: 10px;">
          <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
            <mat-label>Estado*</mat-label>
            <mat-select formControlName="estado_id" [disabled]="readonly" required>
              <mat-option *ngFor="let estado of estados" [value]="estado.id">
                {{estado.nome}}
              </mat-option>
            </mat-select>
            <mat-placeholder>Estado</mat-placeholder>
          </mat-form-field>
        </div>

        <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100" style="margin-left: 10px;" *ngIf="form.get('representada_fretes').value[i].estado_id != null ">
          <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
            <mat-label>Tipo de frete</mat-label>
            <mat-select formControlName="tipo" [disabled]="readonly" required>
              <mat-option value="fob">FOB</mat-option>
              <mat-option value="cif">CIF</mat-option>
            </mat-select>
            <mat-placeholder>Tipo de frete</mat-placeholder>
          </mat-form-field>
        </div>

        <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100" style="margin-left: 10px;" *ngIf="form.get('representada_fretes').value[i].estado_id != null ">
          <mat-form-field appearance="outline">
              <mat-label>Valor</mat-label>
              <input matInput placeholder="Valor*" formControlName="valor" currencyMask [readonly]="readonly" required>
          </mat-form-field>
        </div>
    </div>
  </div>
  <div formArrayName="representada_emails" fxLayout="row wrap" class="row" fxflex="100">
    <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"  >
      <h4 class="dadosCadastro"><span style="margin-left: 10%;">Emails</span>
        <a style="float: right;" (click)="addRepresentadaEmail()" *ngIf="!readonly"><i class="material-icons plus-icons">add_circle_outline</i>
          <span class="title">Novo Email</span></a>
      </h4>
    </div>
    <div fxLayout="row wrap" *ngFor="let e of form.get('representada_emails').controls; index as i" [formGroupName]="i" fxFlex="33">
        <div class="p-10 aj ml-5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          Email - {{i + 1}}
          <button mat-icon-button (click)="delRepresentadaEmail(i)" *ngIf="!readonly">
            <mat-icon class="clear">clear</mat-icon>
          </button>
        </div>

        <div class="p-10 aj" fxFlex="100" style="margin-left: 10px;">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email*" formControlName="email" type="email" [readonly]="readonly" required>
          </mat-form-field>
        </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="row">
    <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card-header class="bg-info text-white">
        <mat-card-title class="Outros">Outros</mat-card-title>
      </mat-card-header>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Telefone Fixo</mat-label>
        <input matInput placeholder="Telefone Fixo" mask="(00) 0000-0000" formControlName="telefone"
          type="text" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('telefone').errors?.phone && form.get('telefone').touched"
        class="text-danger font-14">O número inserido deve ser válido.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Celular" mask="(00) 0 0000-0000" formControlName="celular"
          type="text" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('celular').errors?.phone && form.get('celular').touched"
        class="text-danger font-14">O número inserido deve ser válido.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Representante</mat-label>
        <input matInput placeholder="Representante*" formControlName="representante" [readonly]="readonly">
      </mat-form-field>
      <mat-hint *ngIf="form.get('representante').errors?.minlength && form.get('representante').touched"
        class="text-danger font-14">O representante tem que conter no mínimo 5 caracteres.</mat-hint>
      <mat-hint *ngIf="form.get('representante').errors?.maxlength && form.get('representante').touched"
        class="text-danger font-14">O representante não deve exceder 50 caracteres</mat-hint>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="65" fxFlex.gt-xs="65" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email" [readonly]="readonly">
      </mat-form-field>
      <small *ngIf="form.get('email').errors?.email && form.get('email').touched"
        class="text-danger font-14">O endereço de email deve ser valido.</small>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Banco p/ Pagamento</mat-label>
        <mat-select formControlName="conta_id" [disabled]="readonly">
          <mat-option *ngFor="let banco of bancos" [value]="banco.id">
            {{banco.banco}} - Ag: {{banco.agencia}} / Cc: {{banco.conta}}
          </mat-option>
        </mat-select>
        <mat-placeholder>Banco p/ Pagamento</mat-placeholder>
      </mat-form-field>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card-header class="bg-info text-white">
        <mat-card-title class="Endereco">Observação</mat-card-title>
      </mat-card-header>
    </div>
    <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex="100">
      <mat-form-field appearance="outline">
        <input matInput formControlName="obs" [readonly]="readonly">
      </mat-form-field>
      <textarea *ngIf="form.get('obs').errors?.maxlength && form.get('obs').touched"
        class="text-danger font-14">O representante não deve exceder 50 caracteres</textarea>
    </div>
  </div>
  
  <mat-card-actions class="p-10">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || readonly == true" (click)="onSubmit();">Salvar</button>
    <button style="margin-left: 15px;" mat-raised-button color="warn" (click)="close()">Cancelar</button>
  </mat-card-actions>
</form>
<!-- <a (click) = "getFormValidationErrors()" >errors</a> -->