<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-actions align="end">
                    <div class="button-row">
                    <button mat-raised-button color="primary" type="submit">Nova categoria/sub-categoria</button>
                    <button mat-raised-button color="primary" type="submit">Listar categorias</button>
                    <button mat-icon-button color="primary">
                    <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon></button>
                    </div>
            </mat-card-actions>
            <mat-card-content>
                <mat-card-title>Cadastro de Categoria / Subcategoria </mat-card-title>
            </mat-card-content>
            <mat-tab-group>
                <mat-tab label="Categoria"><mat-card-content>

                  <div fxLayout="row" fxLayoutWrap="wrap" class="row">

                    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Nome da Categoria" [formControl]="form.controls['fname']">
                        </mat-form-field>
                          <mat-hint *ngIf="form.controls['fname'].hasError('required') && form.controls['fname'].touched" class="text-danger font-14">Você deve incluir um nome fantasia.</mat-hint>
                          <mat-hint *ngIf="form.controls['fname'].hasError('minlength') && form.controls['fname'].touched" class="text-danger font-14">O nome tem que ter no mínimo 5 caracteres.</mat-hint>
                          <mat-hint *ngIf="form.controls['fname'].hasError('maxlength') && form.controls['fname'].touched" class="text-danger font-14">O nome não deve exceder 50 caracteres</mat-hint>
                      </div>   
                    
                      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                          <mat-form-field 
                                appearance="outline"
                                [hideRequiredMarker]="form.value.hideRequired"
                                [floatLabel]="form.value.floatLabel">
                                <mat-label>Selecione a unidade...</mat-label>

                              <mat-select required>
                                <mat-option value="option">Caixa</mat-option>
                                <mat-option value="option">Bag</mat-option>
                              </mat-select>
                              <mat-placeholder>Etiqueta</mat-placeholder>
                            </mat-form-field>
                          </div>  
                        </div>      

                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" type="submit" [disabled]="">Salvar categoria</button>
                    </mat-card-actions>
        
                </mat-card-content></mat-tab>
                <mat-tab label="Subcategoria"><mat-card-content>
                        <div fxLayout="row" fxLayoutWrap="wrap" class="row">

                        <div class="p-10" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100">
                            <mat-form-field>
                              <input matInput placeholder="Nome da Sub-Categoria" [formControl]="form.controls['fname2']">
                            </mat-form-field>
                              <mat-hint *ngIf="form.controls['fname2'].hasError('required') && form.controls['fname2'].touched" class="text-danger font-14">Você deve incluir um nome fantasia.</mat-hint>
                              <mat-hint *ngIf="form.controls['fname2'].hasError('minlength') && form.controls['fname2'].touched" class="text-danger font-14">O nome tem que ter no mínimo 5 caracteres.</mat-hint>
                              <mat-hint *ngIf="form.controls['fname2'].hasError('maxlength') && form.controls['fname2'].touched" class="text-danger font-14">O nome não deve exceder 50 caracteres</mat-hint>
                          </div>   
                        
                          <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
                              <mat-form-field 
                                    appearance="outline"
                                    [hideRequiredMarker]="form.value.hideRequired"
                                    [floatLabel]="form.value.floatLabel">
                                    <mat-label>Selecione a unidade...</mat-label>
    
                                  <mat-select required>
                                    <mat-option value="option">Caixa</mat-option>
                                    <mat-option value="option">Bag</mat-option>
                                  </mat-select>
                                  <mat-placeholder>Etiqueta</mat-placeholder>
                                </mat-form-field>
                              </div>  
                              <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                                    <mat-form-field 
                                          appearance="outline"
                                          [hideRequiredMarker]="form.value.hideRequired"
                                          [floatLabel]="form.value.floatLabel">
                                          <mat-label>Selecione Categoria à vincular...</mat-label>
          
                                        <mat-select required>
                                          <mat-option value="option">Ativo</mat-option>
                                          <mat-option value="option">Inativo</mat-option>
                                        </mat-select>
                                        <mat-placeholder>Categoria à vincular</mat-placeholder>
                                      </mat-form-field>
                                    </div>   
                            </div>      
    
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" type="submit" [disabled]="">Salvar categoria</button>
                        </mat-card-actions>

                </mat-card-content></mat-tab>
            </mat-tab-group>
        </mat-card>    
    </div>
</div>