<form [formGroup]="form">
  <div fxLayout="column">
    <!-- Column-1 -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card-header class="bg-info text-white">
        <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
      </mat-card-header>
    </div>
    <!-- Column-2 -->
    <div fxLayout="row">
      <!-- Column-2 Row-1-->
      <div class="p-10 m-t-10" fxLayout="column" fxFlex="20" fxFlexFill>
        <div fxLayout="row">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" [value]="1">
                <mat-option [value]=true>Ativo</mat-option>
                <mat-option [value]=false>Inativo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <fieldset>
              <label>Imagem do Produto</label>
              {{imageError}}
              <div class="custom-file fileInputProfileWrap">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                <div class="img-space">
                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <img [src]="cardImageBase64" />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img [src]="transform()" class="img-responsive">
                  </ng-template>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <!-- Column-2 Row-2-->
      <div fxLayout="column" fxFlex="80" fxFlexFill fxLayoutAlign="space-between strech">
        <div fxLayout="row" style="margin-top: 8px;">
          <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Cód. catálogo</mat-label>
              <input matInput placeholder="Cód. catálogo" formControlName="codigo_catalogo">
            </mat-form-field>
          </div>
          <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Cód. importação</mat-label>
              <input matInput placeholder="Cód. importação" formControlName="codigo_importacao">
            </mat-form-field>
          </div>
          <div class="p-10" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Nome do produto</mat-label>
              <input matInput placeholder="Nome do produto" formControlName="nome">
            </mat-form-field>
            <small *ngIf="form.get('nome').errors?.required && form.get('nome').touched"
              class="text-danger font-14">Você precisa inserir um nome para o produto.</small>
          </div>
        </div>
        <div fxLayout="row">
          <div class="p-10 aj" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Descrição do produto</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                placeholder="Descrição do produto" formControlName="descricao"></textarea>
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Indicação de uso</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                placeholder="Indicação do produto" formControlName="indicacao"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Selecione a representada</mat-label>
              <mat-select formControlName="representada_id">
                <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                  {{representada.razao_social}}
                </mat-option>
              </mat-select>
              <mat-placeholder>Representada</mat-placeholder>
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Ipi</mat-label>
              <input matInput placeholder="Ipi" formControlName="ipi" type="digits" mask="percent" suffix="%">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Certificado de Aprovação</mat-label>
              <input matInput placeholder="Certificado de aprovação" formControlName="certificado_aprovacao">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="26" fxFlex.gt-xs="26" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Embalagem do produto</mat-label>
              <input matInput placeholder="Embalagem do produto" formControlName="embalagem">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <mat-form-field class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" appearance="outline">
            <mat-chip-list #chipListColor aria-label="Color selection">
              <mat-chip *ngFor="let color of colors" [selectable]="selectable" [removable]="removable"
                (removed)="removeColor(color)">
                {{color.nome}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Nova cor..." #colorInput [formControl]="colorCtrl" [matAutocomplete]="autoColor"
                [matChipInputFor]="chipListColor" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addColor($event)">
            </mat-chip-list>
            <mat-autocomplete #autoColor="matAutocomplete" (optionSelected)="selectedColor($event)">
              <mat-option *ngFor="let color of filteredColors | async" [value]="color">
                {{color.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" appearance="outline">
            <mat-chip-list #chipList aria-label="Size selection">
              <mat-chip *ngFor="let size of sizes" [selectable]="selectable" [removable]="removable"
                (removed)="remove(size)">
                {{size.nome}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Novo tamanho..." #sizeInput [formControl]="sizeCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let size of filteredSizes | async" [value]="size">
                {{size.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Column-3 -->
    <!-- <div fxLayout="row" style="height: 75px; background-color: #74fd86">
      <div fxFlex="20" fxFlexOffset="10" style="background-color: #b5ffbf" fxLayoutAlign="center center">column3 row1</div>
      <div fxFlex="80" fxFlexOffset="10" style="background-color: #b5ffbf" fxLayoutAlign="center center">column3 row2</div>
    </div> -->
  </div>
  <mat-card-actions class="p-10" style="float: right;">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
      (click)="onSubmit();">Salvar</button>
    <button style="margin-left: 15px;" mat-raised-button color="warn" (click)="close()">Cancelar</button>
  </mat-card-actions>
</form>
