<form [formGroup]="form" class="form">
  <div fxLayout="column">
    <!-- Column-1 -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="title-margin">
      <mat-card-header class="bg-info text-white">
        <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
      </mat-card-header>
    </div>
    <!-- Column-2 -->
    <div fxLayout="row">
      <!-- Column-2 Row-1-->
      <div class="p-10 m-t-10" fxLayout="column" fxFlex="20" fxFlexFill>
        <div fxLayout="row">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" [disabled]="readonly">
                <mat-option value='ativo'>Ativo</mat-option>
                <mat-option value='inativo'>Inativo</mat-option>
                <mat-option value='indisponivel'>Indisponível</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <!--*ngIf="form.controls.get('status') =='indisponivel' " -->
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Previsão de retorno</mat-label>
              <input matInput [matDatepicker]="pickerPrevisao" formControlName="previsao_retorno"
                placeholder="Previsão de Retorno" [readonly]="readonly">
              <mat-datepicker-toggle matSuffix [for]="pickerPrevisao" *ngIf="!readonly"></mat-datepicker-toggle>
              <mat-datepicker #pickerPrevisao *ngIf="!readonly"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" style="margin-top: -15px;">
          <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="60" class="prodTitle">
            Ficha Técnica:
          </div>
          <div fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" class="material-icons visibility-icons"
            *ngIf="fichaBase64 != undefined" (click)="printPreview(fichaBase64)">visibility</div>
          <div fxFlex.gt-sm="10" style="color: red !important;" fxFlex.gt-xs="10" fxFlex="10"
            class="material-icons visibility-icons ml-5" *ngIf="fichaBase64 != undefined && readonly == false" (click)="removeFicha()">
            delete_outline</div>
        </div>
        <div fxLayout="row">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="fichaBase64 == undefined">
            <input type="file" style="display: none" (change)="uploadFicha($event)" #hiddenfileinput>
            <button button mat-raised-button color="primary" (click)="hiddenfileinput.click()">
              <mat-icon aria-hidden="false" aria-label="Upload icon">file_upload</mat-icon>Upload
            </button>
          </div>
        </div>
        <!-- <div fxLayout="row">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="fichaBase64 != undefined">
           <button (click)="printPreview(fichaBase64)">Visualizar</button>
          </div>
        </div> -->
        <div fxLayout="row">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="prodTitle">
            Imagem do produto:
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <fieldset>
              {{imageError}}
              <div class="custom-file fileInputProfileWrap">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" *ngIf="!readonly">
                <div class="img-space">
                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <img [src]="cardImageBase64" />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img [src]="transform()" class="img-responsive">
                  </ng-template>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <!-- Column-2 Row-2-->
      <div fxLayout="column" fxFlex="80" fxFlexFill fxLayoutAlign="space-between strech">
        <div fxLayout="row" style="margin-top: 8px;">
          <div class="p-10" fxFlex.gt-sm="17" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Cód. catálogo*</mat-label>
              <input matInput placeholder="Cód. catálogo" formControlName="codigo_catalogo" [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="p-10" fxFlex.gt-sm="19" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Cód. importação*</mat-label>
              <input matInput placeholder="Cód. importação" formControlName="codigo_importacao" [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="p-10" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Nome do produto*</mat-label>
              <input matInput placeholder="Nome do produto" formControlName="nome" [readonly]="readonly">
            </mat-form-field>
            <small *ngIf="form.get('nome').errors?.required && form.get('nome').touched"
              class="text-danger font-14">Você precisa inserir um nome para o produto.</small>
          </div>
          <div class="p-10" fxFlex.gt-sm="19" fxFlex.gt-xs="15" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Classificação*</mat-label>
              <mat-select formControlName="produto_classification_id" [disabled]="readonly">
                <mat-option *ngFor="let classificacao of classificacoes" [value]="classificacao.id">
                  {{classificacao.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>Classificação</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Descrição do produto*</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="7"
                placeholder="Descrição do produto" formControlName="descricao" [readonly]="readonly"></textarea>
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Descrição resumida*</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="7"
                placeholder="Descrição resumida" formControlName="descricao_resumida" [readonly]="readonly"></textarea>
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
            <mat-select-autocomplete appearance="outline" [placeholder]="'Tipo do Produto*'" [options]="tiposProduto"
              [multiple]='false' name="optionsSelector" ngDefaultControl
              [formControl]="form.controls['produto_tipo_id']" [disabled]="readonly">
            </mat-select-autocomplete>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
            <mat-select-autocomplete appearance="outline" [placeholder]="'Material do Produto*'"
              [options]="materiaisProduto" [multiple]='false' name="optionsSelector" ngDefaultControl
              [formControl]="form.controls['produto_material_id']" [disabled]="readonly">
            </mat-select-autocomplete>
          </div>
        </div>
        <div fxLayout="row">
          <div class="p-10 aj" fxFlex.gt-sm="26" fxFlex.gt-xs="26" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Selecione a representada*</mat-label>
              <mat-select formControlName="representada_id" [disabled]="readonly">
                <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                  {{representada.razao_social}}
                </mat-option>
              </mat-select>
              <mat-placeholder>Representada</mat-placeholder>
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Ipi</mat-label>
              <input matInput placeholder="Ipi" formControlName="ipi" type="digits" mask="percent" suffix="%" [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Certificado de Aprovação</mat-label>
              <input matInput placeholder="Certificado de aprovação" formControlName="certificado_aprovacao" [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Embalagem do produto*</mat-label>
              <input matInput placeholder="Embalagem do produto" formControlName="embalagem_nome" [readonly]="readonly">
            </mat-form-field>
          </div>
          <!-- <div class="p-10 aj" fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Quantidade</mat-label>
              <input matInput placeholder="Quantidade" formControlName="embalagem_qtd">
            </mat-form-field>
          </div> -->
          <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Selecione a unidade*</mat-label>
              <mat-select formControlName="embalagem_un" [disabled]="readonly">
                <mat-option *ngFor="let unidade of unidades" [value]="unidade.id">
                  {{unidade.sigla}}
                </mat-option>
              </mat-select>
              <mat-placeholder>Representada</mat-placeholder>
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Qtd. Min*</mat-label>
              <input matInput placeholder="Quantidade" formControlName="embalagem_min" [readonly]="readonly">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap">
          <mat-form-field class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" appearance="outline">
            <mat-chip-list #chipListColor aria-label="Color selection">
              <mat-chip *ngFor="let color of colors" [selectable]="selectable" [removable]="removable"
                (removed)="removeColor(color)">
                {{color.nome}}
                <mat-icon matChipRemove *ngIf="removable && !readonly">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Nova cor*..." #colorInput [formControl]="colorCtrl" [matAutocomplete]="autoColor"
                [matChipInputFor]="chipListColor" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addColor($event)" [readonly]="readonly">
            </mat-chip-list>
            <mat-autocomplete #autoColor="matAutocomplete" (optionSelected)="selectedColor($event)">
              <mat-option *ngFor="let color of filteredColors | async" [value]="color">
                {{color.nome}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="colorCtrl.touched && colors.length == 0"
              class="text-danger font-14" fxFlex="100">Você precisa selecionar uma cor.</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" >
          <mat-form-field class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" appearance="outline">
            <mat-chip-list #chipList aria-label="Size selection">
              <mat-chip *ngFor="let size of sizes" [selectable]="selectable" [removable]="removable"
                (removed)="remove(size)">
                {{size.tamanho_id ? size.tamanho.nome : size.nome }}
                <mat-icon matChipRemove *ngIf="removable && !readonly">cancel</mat-icon>
              </mat-chip>
              <input required placeholder="Novo tamanho*..." #sizeInput [formControl]="sizeCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" [readonly]="readonly">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let size of filteredSizes | async" [value]="size">
                {{size.nome}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="sizeCtrl.touched && sizes.length == 0"
              class="text-danger font-14" fxFlex="100">Você precisa selecionar um tamanho.
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">

            <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <div fxLayoutAlign="center start" fxLayout="row">
                <h3>Preços Paraná</h3>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Preço - Final*</mat-label>
                <input matInput placeholder="Preço PR- Final" formControlName="preco_pr_final" currencyMask [readonly]="readonly">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Preço - Revenda*</mat-label>
                <input matInput placeholder="Preço PR - Revenda" formControlName="preco_pr_revenda" currencyMask [readonly]="readonly">
              </mat-form-field>
            </div>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <div fxLayoutAlign="center start" fxLayout="row">
              <h3>Preço SP</h3>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Preço*</mat-label>
              <input matInput placeholder="Preço" formControlName="preco_sp" currencyMask [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <div fxLayoutAlign="center start" fxLayout="row">
              <h3>Preço SC</h3>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Preço*</mat-label>
              <input matInput placeholder="Preço" formControlName="preco_sc" currencyMask [readonly]="readonly">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <div fxLayoutAlign="center start" fxLayout="row">
              <h3>Preço MS</h3>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Preço*</mat-label>
              <input matInput placeholder="Preço" formControlName="preco_ms" currencyMask [readonly]="readonly">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- Column-3 -->
    <!-- <div fxLayout="row" style="height: 75px; background-color: #74fd86">
      <div fxFlex="20" fxFlexOffset="10" style="background-color: #b5ffbf" fxLayoutAlign="center center">column3 row1</div>
      <div fxFlex="80" fxFlexOffset="10" style="background-color: #b5ffbf" fxLayoutAlign="center center">column3 row2</div>
    </div> -->
  </div>
  <mat-card-actions class="p-10" style="float: right;">
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="readonly" >Salvar</button>
    <button style="margin-left: 15px;" mat-raised-button color="warn" (click)="close()">Cancelar</button>
  </mat-card-actions>
</form>