.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 24px;
  }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}
.u {
  text-decoration: underline;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}
.button {
  padding: 6px 9px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 10px;
}

.button:hover {background-color: #1e88e5}

.button:active {
  background-color: #519fe2;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.button2 {
  padding: 6px 9px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 10px;
}

.button2:hover {background-color: red}

.button2:active {
  background-color:red;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: 0.3rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  font-size: 11px;
  font-weight: 400;
}