.dialog{
  min-height: 30vh;
  width: 40vw;
  max-width: 40vw;
}
.bt{
  margin-left: 10px;
}
.dadosCadastro{
  font-size: larger;
  align-items: center;
  margin-top: 16px;
}

.form{
  font-size: 11px;
}