<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<input type="file" style="display: none" (change)="incomingfile($event)" accept=".xlsx,.xls" #hiddenfileinput >
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle class="sub-title">--Dados do Pedido--</mat-card-subtitle>
        <form [formGroup]="form" class="form">
          <div fxLayout="row" fxLayoutWrap="wrap" class="row">
            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-md="20" fxFlex.gt-xs="20" fxFlex="20">
              <mat-card-title style="margin-top: 20px;">Importar Pedido:</mat-card-title>
            </div>
            <div class="p-10" fxFlex.gt-sm="" fxFlex.gt-md="80" fxFlex.gt-xs="80" fxFlex="80">
              <mat-form-field appearance="outline">
                <mat-label style="color: red; border-color: red">{{selectRepresentada}}</mat-label>
                <mat-select formControlName="representada_id">
                  <mat-option *ngFor="let rep of representadas" [value]="rep.id" (click)="hiddenfileinput.click(rep.func); representada=rep">{{rep.nome_fantasia}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap" class="row">

            <div class="p-10" fxFlex.gt-sm="12" fxFlex.gt-xs="12" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Nº Pedido</mat-label>
                <input matInput placeholder="Nº Pedido" formControlName="num_pedido">
              </mat-form-field>
            </div>

            <div class="p-10" fxFlex.gt-sm="26" fxFlex.gt-xs="26" fxFlex="100">
              <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                [floatLabel]="form.value.floatLabel">
                <mat-label>Cliente</mat-label>
                <mat-select formControlName="cliente_id">
                  <mat-option *ngFor="let cliente of clientes" [value]="cliente.id" (click)="selectedAreaVendaID = cliente.area_venda_id">
                    {{cliente.razao_social}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Cliente</mat-placeholder>
              </mat-form-field>
            </div>

            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline">
                <mat-label>Data de Emissão</mat-label>
                <input matInput [matDatepicker]="pickerEmissao"
                formControlName="data_emissao" placeholder="Data Emissao">
                <mat-datepicker-toggle matSuffix [for]="pickerEmissao"></mat-datepicker-toggle>
                <mat-datepicker #pickerEmissao></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline">
                <mat-label>Data de Entrega</mat-label>
                <input matInput [matDatepicker]="pickerEntrega" formControlName="data_entrega" placeholder="Data Programada">
                <mat-datepicker-toggle matSuffix [for]="pickerEntrega"></mat-datepicker-toggle>
                <mat-datepicker #pickerEntrega></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20">
              <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                [floatLabel]="form.value.floatLabel">
                <mat-label>Cond. comercial</mat-label>
                <mat-select formControlName="condicao_comercial_id">
                  <mat-option *ngFor="let condComercial of condComerciais" [value]="condComercial.id">
                    {{condComercial.nome}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Condição Comercial</mat-placeholder>
              </mat-form-field>
              <div style="font-size: 9px; margin-top: -15px; color:red">{{condComercial}}</div>
            </div>
            
            <div class="p-10 pad" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                [floatLabel]="form.value.floatLabel">
                <mat-label>Área de venda</mat-label>
                <mat-select formControlName="area_venda_id">
                  <mat-option *ngFor="let area of areas" [value]="area.id" (click)="chargeAreaVendas(area)">
                    {{area.nome}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Região</mat-placeholder>
              </mat-form-field>
            </div>

            <div class="p-10 pad" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="50">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Observação" formControlName="obs">
              </mat-form-field>
            </div>

            <div class="p-10" style="margin-top:-15px; margin-right: -10px" fxFlex.gt-sm="30" fxFlex.gt-xs="30"
              fxFlex="100">
              <label class="m-r-10">Frete :</label>
              <mat-radio-group formControlName="frete" >
                <mat-radio-button value="Representada" class="m-r-10">Representada</mat-radio-button>
                <mat-radio-button value="Cliente">Cliente</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="p-10 pad" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Transportadora</mat-label>
                <input matInput placeholder="Insira a transportadora" formControlName="transportadora">
              </mat-form-field>
            </div>

            <div class="p-10" fxFlex.gt-sm="5" fxFlex.gt-xs="5" fxFlex="15">
            </div>

            <div class="p-10" style="margin-top:-15px; margin-right: 10px" fxFlex.gt-sm="15" fxFlex.gt-xs="15"
              fxFlex="15">
              <section>
                <mat-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">Pedido Programado
                </mat-checkbox>
              </section>
            </div>
            <div *ngIf="checked" class="p-10 pad" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline">
                <mat-label>Data Programada</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="data_programada"
                  placeholder="Data Programada">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="100%" fxFlex="100">
              <mat-card-subtitle class="sub-title">--Selecione o Produto--</mat-card-subtitle>
              <mat-form-field>
                <input matInput type='text' class="form-control" placeholder='Digite para filtrar...'
                  (keyup)='updateFilter($event)' />
              </mat-form-field>
              <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [rows]='rows' [loadingIndicator]="loadingIndicator"
                [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
              </ngx-datatable>
            </div>
            <div div formArrayName="pedido_produtos">
              <div *ngFor="let produto of form.get('pedido_produtos').controls; index as i" [formGroupName]="i">
                <div class="title"> {{produto.get('codigo').value}} - {{produto.get('nome').value | slice:0:55}} | 
                  <button (click)="removeItem(i)" mat-icon-button color="warn">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
                <ng-container>
                  <div fxLayout="row" fxLayoutWrap="wrap">
                    <mat-form-field fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" appearance="outline">
                      <mat-label>Qtd.</mat-label>
                      <input matInput (keyup)="totalCalc(produto.get('quantidade').value, produto.get('valorUnitario'), i)" placeholder="Qtd" formControlName="quantidade" >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" appearance="outline">
                      <mat-label>Unidade</mat-label>
                      <input matInput placeholder="Unidade" formControlName="unidade" >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" appearance="outline">
                      <input matInput placeholder="Embalagem" formControlName="embalagem" >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" appearance="outline">
                      <input matInput placeholder="IPI" formControlName="ipi" mask="percent" suffix="%"
                        >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" appearance="outline">
                      <input matInput placeholder="Desconto" formControlName="desconto" mask="percent" suffix="%"
                        >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="15" fxFlex.gt-xs="13" fxFlex="13" appearance="outline">
                      <input matInput (keyup)="totalCalc(produto.get('quantidade').value, produto.get('valorUnitario'), i)" placeholder="Valor Unit." formControlName="valorUnitario" currencyMask
                        >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="13" fxFlex.gt-xs="13" fxFlex="13" appearance="outline">
                      <input matInput placeholder="Comissão" formControlName="comissao" mask="percent" suffix="%"
                        >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex="14" appearance="outline">
                      <input matInput placeholder="Tamanho" formControlName="tamanho" >
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="15" appearance="outline">
                      <input [disabled]="true" matInput placeholder="Vlr total" formControlName="valorTotal" currencyMask>
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70" appearance="outline">
                      <input matInput placeholder="Observação" formControlName="observacao" >
                    </mat-form-field>
                  </div>
                </ng-container>
              </div>
              <div>
                <tr>
                  <th>Valor Total: {{total() | currency:'BRL':true:'1.2-2'}}</th>
                </tr>
              </div>
              <div *ngIf="form.get('pedido_produtos').controls.length > 0" fxLayoutAlign="end center" >
                <button mat-button color="warn" (click)="clearProdutos()"><i class="material-icons">delete_outline</i>Limpar</button>
              </div>
            </div>
          </div>
        </form>
        
        <div *ngIf="ValorTotal !=0" style="margin-top: -40px; color: black; text-align: left;">
          <tr *ngIf="ValorTotal != valorTotal()">
            <th style="color: red;">Valor Total Nota: {{ValorTotal | currency:'BRL':true:'1.2-2'}}</th>
          </tr>
          <tr>
            <th>Comissão Média: {{comissaoMedia()}}%</th>
          </tr>
          <tr>
            <th>Comissão Bruta: {{comissaoBruta() | currency:'BRL':true:'1.2-2'}}</th>
          </tr>
        </div>
        <div style="margin-top: 20px; margin-left:5px">
          <button mat-stroked-button color="primary" (click)="enviarPedido()" [disabled]="form.valid">Finalizar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
