
  .sub-title{
    text-align: center;
    color: rgb(0, 26, 255);
    font-weight: bold;
  }
  ::ng-deep .datatable-body-cell {
    font-size: 9px !important;
  }
  .form{
    font-size:11px;
  }
  .pad{
    margin-top: -25px;
  }