
  .sub-title{
    text-align: center;
    color: rgb(0, 26, 255);
    font-weight: bold;
  }
  .select{
    color: red;
    font-size: 11pt;
  }
  .form{
    font-size:11px;
  }
  .pad{
    margin-top: -25px;
  }
 