<!-- Card column -->
<form [formGroup]="form">
  <div fxLayout="row wrap" class="row">
    <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card-header class="bg-info text-white">
        <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
      </mat-card-header>
    </div>
    <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
      <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
        [floatLabel]="form.value.floatLabel">
        <mat-label>Forma de Contato</mat-label>
        <mat-select required formControlName="contato">
          <mat-option>-- Selecione... --</mat-option>
          <mat-option value="WhatsApp/Online" (click)="treinamento = true">WhatsApp/Online</mat-option>
          <mat-option value="Telefone" (click)="treinamento = true">Telefone</mat-option>
          <mat-option value="Presencial" (click)="treinamento = true">Presencial</mat-option>
          <mat-option value="Treinamento" (click)="treinamento = false">Treinamento</mat-option>
        </mat-select>
      </mat-form-field>
      <small *ngIf="form.get('status').errors?.required && form.get('status').touched" class="text-danger font-14">Você
        precisa selecionar o status.</small>
    </div>
    <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="50">
      <mat-form-field appearance="outline">
        <mat-label>Data Inicial</mat-label>
        <input matInput [matDatepicker]="pickerIncial" formControlName="data_inicial" placeholder="Data Incial">
        <mat-datepicker-toggle matSuffix [for]="pickerIncial"></mat-datepicker-toggle>
        <mat-datepicker #pickerIncial></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="50">
      <mat-form-field appearance="outline">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="pickerFinal" formControlName="data_final" placeholder="Data Final">
        <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinal></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
      <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
        [floatLabel]="form.value.floatLabel">
        <mat-label>Status</mat-label>
        <mat-select required formControlName="status">
          <mat-option>-- Selecione... --</mat-option>
          <mat-option value="Homologado">Homologado</mat-option>
          <mat-option value="Nao Homologado">Não Homologado</mat-option>
          <mat-option value="Em teste">Em teste</mat-option>
        </mat-select>
      </mat-form-field>
      <small *ngIf="form.get('status').errors?.required && form.get('status').touched" class="text-danger font-14">Você
        precisa selecionar o status.</small>
    </div>
    <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
      <mat-form-field appearance="outline">
        <input type="text" placeholder="Busque o cliente" aria-label="Cliente" matInput [formControl]="clienteBusca"
          (keyup)="searchCliente()" [matAutocomplete]="autoCliente">
        <mat-autocomplete autoActiveFirstOption #autoCliente="matAutocomplete">
          <mat-option *ngFor="let cliente of $clientes" (click)="setCliente(cliente)"
            (onSelectionChange)="setCliente(cliente)" [value]="cliente.razao_social">
            {{cliente.razao_social}} - CNPJ: {{cliente.cnpj | mask:'00.000.000/0000-00'}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="16" fxFlex.gt-xs="16" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" [formControl]="cnpj" readonly>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex="100">
      <mat-form-field appearance="outline">
        <mat-label>Tipo do Cliente</mat-label>
        <input matInput placeholder="Tipo do Cliente" [formControl]="tipoCliente" readonly>
      </mat-form-field>
    </div>
    <div formArrayName="homologation_products" fxLayout="row wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="row">
      <div class="p-10 plus-icons row m-l-5" fx-flex="100" fxLayoutAlign="start start">
        <a (click)="addNovoProdutoHomologacao()"><i
          class="material-icons">add_circle_outline</i>
        <span class="newproduto">Add Produto</span></a>
      </div>
      <div fxLayout="row wrap" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngFor="let e of form.get('homologation_products').controls; index as i"
        [formGroupName]="i">
        <div class="m-l-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          Produto - {{i + 1}}
          <button mat-icon-button (click)="delProduto(i)">
            <mat-icon class="clear">clear</mat-icon>
          </button>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <div class="m-l-10" fxFlex.gt-sm={{size}} fxFlex.gt-xs={{size}} fxFlex="100" *ngIf="treinamento">
            <mat-form-field appearance="outline">
              <input type="text" placeholder="Busque o produto" aria-label="produto" matInput
              formControlName="produto_nome" (keyup)="searchProduto(form.controls.homologation_products.value[i].produto_nome)" [matAutocomplete]="autoProduto">
              <mat-autocomplete autoActiveFirstOption #autoProduto="matAutocomplete">
                <mat-option *ngFor="let produto of $produtos"
                  (onSelectionChange)="setProduto(produto, i)" [value]="produto.nome">
                  {{produto.codigo_catalogo}} - {{produto.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div *ngIf="fieldTipoVolk;treinamento" class="m-l-10" fxFlex.gt-sm="12" fxFlex.gt-xs="12" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
              [floatLabel]="form.value.floatLabel">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="tipo_volk">
                <mat-option>-- Selecione... --</mat-option>
                <mat-option value="PLUS">PLUS</mat-option>
                <mat-option value="STANDARD">STANDARD</mat-option>
                <mat-option value="SLIM">SLIM</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="m-l-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100" *ngIf="treinamento">
            <mat-form-field appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput placeholder="Código" formControlName="codigo" readonly>
            </mat-form-field>
          </div>
          <div class="m-l-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100" *ngIf="treinamento">
            <mat-form-field appearance="outline">
              <mat-label>CA</mat-label>
              <input matInput placeholder="CA" formControlName="ca" readonly>
            </mat-form-field>
          </div>
          <div class="m-l-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100" *ngIf="treinamento">
            <mat-form-field appearance="outline">
              <mat-label>Representada</mat-label>
              <input matInput placeholder="Representada" formControlName="representada" readonly>
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="!treinamento">
            <mat-form-field appearance="outline">
              <input matInput formControlName="descricao" placeholder="Descrição do Treinamento">
            </mat-form-field>
            <textarea *ngIf="form.get('descricao').errors?.maxlength && form.get('descricao').touched"
              class="text-danger font-14">A descrição não deve exceder 50 caracteres</textarea>
          </div>
        </div>
      </div>
  </div>
    <div fxFlex.gt-sm="100" fxFlex="100">
      <mat-form-field appearance="outline">
        <input matInput formControlName="obs" placeholder="Observação">
      </mat-form-field>
      <textarea *ngIf="form.get('obs').errors?.maxlength && form.get('obs').touched"
        class="text-danger font-14">A observação não deve exceder 50 caracteres</textarea>
    </div>
  </div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="Submit(); close()">
      Salvar </button>
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  </mat-card-actions>
</form>
<!-- <a (click) = "getFormValidationErrors()" >errors</a> -->