.add {
  margin-top: 20px;
}
.pad {
  margin-top: -25px;
}

.sub-title {
  text-align: center;
  color: rgb(0, 26, 255);
  font-weight: bold;
}

.form {
  font-size: 12px;
}
.dialog-headline {
  font-weight: 800;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 0;
  padding: 0.2em;
  text-align: center;
  font-size: 1.5em;
  background-color: dodgerblue;
  color: white;
}
.headline {
  font-weight: 800;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 0;
  padding: 0.2em;
  text-align: center;
  font-size: 1.5em;
  background-color: dodgerblue;
  color: white;
}
.plus-icons {
  color: black;
  margin-bottom: 10px;
  vertical-align: top !important;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}
.plus-icons:active {
  background-color: rgb(21, 115, 255);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}
.mat-divider {
  border-top-width: 1px;
  border-top-color: rgb(21, 115, 255);
  height: 0px;
  margin-top: -28px;
  margin-right: 5px;
}
:host ::ng-deep .datatable-body-row.active .datatable-row-group{
  background-color: dodgerblue !important;
}
:host ::ng-deep .datatable-body-row.active .datatable-row-group .datatable-body-cell{
  color: white !important;
}
.fontTable{
  font-size: 15px;
}

.cartOrcamento {
  margin: -5px -5px;
  font-weight: 500;
}
