    <div fxFlex.gt-sm="100%" fxFlex="100">
      <form [formGroup]="form">
        <div fxLayout="row" fxLayoutWrap="wrap" class="row">
          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-header class="bg-info text-white">
              <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
            </mat-card-header>
          </div>
          <div class="p-10" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Nome da condição comercial</mat-label>
              <input matInput placeholder="Nome da condição comercial" [formControl]="form.controls['nome']">
            </mat-form-field>
            <mat-hint *ngIf="form.controls['nome'].hasError('required') && form.controls['nome'].touched"
              class="text-danger font-14">Condição.</mat-hint>
            <mat-hint *ngIf="form.controls['nome'].hasError('minlength') && form.controls['nome'].touched"
              class="text-danger font-14">A condição deve conter no mínimo 5 caracteres</mat-hint>
            <mat-hint *ngIf="form.controls['nome'].hasError('maxlength') && form.controls['nome'].touched"
              class="text-danger font-14">Sua condição não deve exceder 50 caracteres.</mat-hint>
          </div>
          <div class="p-10" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
              [floatLabel]="form.value.floatLabel">
              <mat-label>Selecione uma forma de pagamento...</mat-label>
              <mat-select required [formControl]="form.controls['tipo']" >
                <mat-option *ngFor="let cond of condicoesComerciais" [value]="cond.id" (click)="validaDias(cond.id)">
                  {{cond.nome}}
                </mat-option>
              </mat-select>
              <mat-placeholder>Forma de pagamento</mat-placeholder>
            </mat-form-field>
          </div>

          <div [ngSwitch]="form.controls['tipo'].value">
           <ng-container *ngSwitchCase="'vista'"></ng-container>
            <div *ngSwitchCase="'prazo'">
              <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="N° de dias" [formControl]="form.controls['dias']">
                </mat-form-field>
                <small *ngIf="form.controls['dias'].hasError('required') && form.controls['dias'].touched"
                  class="text-danger font-14">Você deve inserir um Número.</small>
              </div>
            </div>
            <div *ngSwitchCase="'parcelado'"> 
              <div class="p-10" fxFlex="none">
                <mat-form-field appearance="outline" (keyup)="addParcela('new')" >
                  <mat-label>Parcelas</mat-label>
                  <input matInput mask="99" placeholder="Parcelas" [formControl]="form.controls['parcelas_qtd']">
                </mat-form-field>
                <small *ngIf="form.controls['parcelas_qtd'].hasError('required') && form.controls['parcelas_qtd'].touched"
                  class="text-danger font-14">Você deve inserir um Número.</small>
              </div>
              <div fxLayout="row" fxLayoutWrap="wrap" class="row" fxFlex="100"formArrayName="parcelas">
                <div *ngFor="let item of parcelas().controls; let i = index">
                  <ng-container [formGroupName]="i">
                    <div class="p-10" fxLayoutGap="20px" fxFlex="100">
                      <mat-form-field appearance="outline" >
                          <mat-label>Parcela {{i + 1}}</mat-label>
                          <input matInput placeholder="Parcela {{i == 0 ? null : i+1}}" formControlName="parcela">
                      </mat-form-field>
                    </div>  
                  </ng-container>
                </div>  
              </div>
            </div>
          </div>
        </div> 
        <mat-card-actions class="p-10">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="Submit(); close()">Salvar</button>
          <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
        </mat-card-actions>
      </form>
    </div>
