<div fxLayout="row wrap">
  <div class="p-t-20" fxFlex.gt-sm="80%" fxFlex="80">
    <div>
      Pedido: {{dados?.num_pedido}}<br>
      Representada: {{dados?.representada.razao_social}}<br>
      Área de Venda: {{dados?.regiao.nome}} - Vendedor: {{dados?.vendedor.nome}} - Auxiliar: {{dados?.auxiliar.nome}}
    </div>
    <div>
      Cliente: {{dados?.cliente.razao_social}} - CNPJ: {{dados?.cliente.cnpj}}<br>
      Cidade: {{dados?.cliente?.enderecos_clientes[0]?.endereco.cidade}}<br>
      Condição de Pagamento: {{dados?.condicao_comercial.nome}}<br>
      Data de Emissão: {{dados?.data_emissao}}<br>
      Transportadora: {{dados?.transportadora}}<br>
      Frete: {{dados?.frete}} Data de Entrega: {{dados?.data_entrega}}<br>
      Valor Total: {{dados?.valor_total}}<br>
      Comissão Média: {{dados?.comissao_media}}% 
    </div>
  </div>
  <div fxFlex.gt-sm="20%" fxFlex="20" class="p-20" fxLayoutAlign="end start" fxLayoutGap="10px">
    <button *ngIf="dados?.status == 'aberto'" mat-stroked-button color="warn" class="p-10" (click)="removerNf()">
      <i class="material-icons">close_fullscreen</i>Remover NF</button>
    <button *ngIf="dados?.status == 'recebido'" mat-stroked-button color="primary" class="p-10" (click)="estorno()">
      <i class="material-icons">restore</i>Estorno</button>
    <button mat-stroked-button color="primary" class="p-10" (click)="imprimir()">
      <i class="material-icons">print</i>Imprimir
    </button>
  </div>
</div>
<mat-form-field>
  <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
    (keyup)='updateFilter($event)' />
</mat-form-field>
<ngx-datatable #step.step class='material striped' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
  [rowHeight]="'auto'" [limit]="5" [rows]='rows' [sorts]="[{prop: 'id', dir: 'asc'}]">

  <ngx-datatable-column [flexGrow]="0.4" name="Código" prop="produto.codigo">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="0.4" name="Tamanho" prop="tamanho">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="2.5" name="Nome do produto" prop="produto.nome">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="1" name="Quantidade" prop="quantidade">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="1" name="Valor" prop="valor_total">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value | currency:'BRL':true:'1.2-2' }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
<div class="p-20" fxLayout="row wrap" fxLayoutAlign="end start">
  <button mat-raised-button color="warn" (click)="close()">Sair</button>
</div>
