.buttonP {
    padding: 6px 9px;
    cursor: pointer;
    outline: none;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 10px;
}

.buttonP:hover {
    background-color: #1e88e5;
}

.buttonP:active {
    background-color: #519fe2;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
