<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <mat-card-title >Representada</mat-card-title>
              <mat-card-actions align="end">
                <div class="button-row">
                 <button mat-raised-button color="primary" (click)="openDialog()">Nova Representada</button>
                </div> 
              </mat-card-actions> 
          </mat-card-content>
          <mat-tab-group>
              <mat-tab label="Representada cadastradas"><mat-card-content>
                          <mat-card-title>Buscar</mat-card-title>
                          <mat-form-field>
                             <input matInput  type='text' class="form-control"  placeholder='Digite um nome para filtrar...' (keyup)='updateFilter($event)'   />
                          </mat-form-field>
                          <ngx-datatable
                              #table
                              class='material striped'
                              [columnMode]="'flex'"
                              [headerHeight]="50"
                              [footerHeight]="50"
                              [rowHeight]="'auto'"
                              [limit]="20"
                              [rows]='rows'>

                              <ngx-datatable-column [flexGrow]="2" name="Razão Social">
                                <ng-template let-value="razao_social" let-row="row" ngx-datatable-cell-template>
                                  {{ row.razao_social }}
                                </ng-template>
                              </ngx-datatable-column>
                              
                              <ngx-datatable-column [flexGrow]="1" name="CNPJ">
                                <ng-template let-value="cnpj" let-row="row" ngx-datatable-cell-template>
                                  {{ row.cnpj |  mask: '00.000.000/0000-00'}}
                                </ng-template>
                              </ngx-datatable-column>  

                              <ngx-datatable-column [flexGrow]="0.8" name="Inscrição estadual">
                                <ng-template let-value="inscricao_estadual" let-row="row" ngx-datatable-cell-template>
                                  {{ row.inscricao_estadual }}
                                </ng-template>
                              </ngx-datatable-column>

                              <ngx-datatable-column [flexGrow]="0.5" name="Status">
                                <ng-template let-value="status" let-row="row" ngx-datatable-cell-template>
                                  {{ (row.status == true)? "Ativo" : "Inativo" }}
                                </ng-template>
                              </ngx-datatable-column>
                            </ngx-datatable>
              </mat-card-content></mat-tab>
          </mat-tab-group>
      </mat-card>    
  </div>
</div>