<div fxLayout="row wrap">
    <div fxFlex="100" class="p-t-10 p-l-10">
        <form [formGroup]="form">
            <mat-card-title class="title">Relatório de Pedidos</mat-card-title>
            <mat-divider></mat-divider>
            <div fxLayout="row wrap" class="row">

                <div class="p-10 text" fxFlex="25">
                    <mat-form-field appearance="outline">
                        <mat-label>Selecione a representada...</mat-label>
                        <mat-select formControlName="representada_id" (selectionChange)="filterAreas($event)" (onSelectionChange)="filterAreas($event)">
                            <mat-option [value]=null></mat-option>
                            <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                                {{representada.nome_fantasia}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="p-10 text" fxFlex="15" *ngIf="areas.length > 0">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Área de Venda...</mat-label>
                        <input type="text" placeholder="Busque a área" aria-label="area" matInput
                            [formControl]="areaBusca" (keyup)="searchArea()"
                            [matAutocomplete]="autoArea">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button"
                            *ngIf="form.controls['area_venda_id'].value != null">
                            <mat-icon color="warn" (click)="limparArea();">close</mat-icon>
                        </button>
                        <mat-autocomplete autoActiveFirstOption #autoArea="matAutocomplete">
                            <mat-option *ngFor="let area of $areas" (click)="setArea(area)"
                                (onSelectionChange)="setArea(area)" [value]="area.nome">
                                {{area.nome}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="p-10 text" fxFlex="15">
                    <mat-form-field appearance="outline">
                        <mat-label>Cidade</mat-label>
                        <input matInput type="text" placeholder="Cidade desejada" aria-label="cidade" formControlName="cidade">
                    </mat-form-field>
                </div>
                <div fxFlex="100"></div>
                <div class="p-l-10 text" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                    <mat-form-field appearance="outline">
                        <mat-label>Ramo de atividade</mat-label>
                        <mat-select formControlName="ramo_atividade_id">
                            <mat-option [value]=null></mat-option>
                            <mat-option *ngFor="let ramo of ramos" [value]="ramo.id">{{ramo.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="show-title" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <span class="p-l-10"> Oredenação</span>
                </div>

                <div class="p-10 m-t-10 m-b-10" fxFlex.gt-sm="85" fxFlex.gt-xs="85" fxFlex="85">
                    <mat-radio-group appearance="outline" formControlName="ordenacao">
                        <mat-radio-button value="cliente" class="m-r-10">Cliente</mat-radio-button>
                        <mat-radio-button value="data" class="m-r-10">Data do último pedido</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-radio-group appearance="outline" formControlName="tipo">
                        <mat-radio-button value="asc" class="m-r-10">Crescente</mat-radio-button>
                        <mat-radio-button value="desc" class="m-r-10">Decrescente</mat-radio-button>
                    </mat-radio-group>
                </div>

            </div>
            <div>
                <button mat-raised-button color="primary" type="submit" (click)="submit()">Filtrar</button>
                <button mat-raised-button class="m-l-10" color="warn" (click)="clear()">Limpar</button>
            </div>
        </form>
    </div>
</div>