<mat-card-content>
  <form [formGroup]="form">
    <div fxLayout="row wrap" class="row">
      <div *ngIf="data != null" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="end start">
        <span class="tableOfPrice">Consultar tabela de Preços: </span>
        <mat-form-field appearance="outline" style="width: 20%; margin-right: 10px;">
          <mat-label class="select">Selecione a Representada</mat-label>
          <mat-select>
            <mat-option *ngFor="let rep of representadas" (click)="consultPriceTable(rep.id)">{{rep.nome_fantasia}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="margin-top: -3%;">
        <h4 class="dadosCadastro">{{pageTitle}}</h4>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="30" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>CNPJ*</mat-label>
          <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" formControlName="cnpj" (blur)="onBlurCnpj()"
            type="digits">
        </mat-form-field>
        <small *ngIf="form.get('cnpj').errors?.required && form.get('cnpj').touched" class="text-danger font-14">Você
          precisa inserir um CNPJ.</small>
        <small *ngIf="form.get('cnpj').errors?.minlength && form.get('cnpj').touched" class="text-danger font-14">Você
          precisa inserir um CNPJ válido.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Inscrição estadual</mat-label>
          <input matInput placeholder="Inscrição estadual" formControlName="inscricao_estadual">
        </mat-form-field>
        <small *ngIf="form.get('inscricao_estadual').errors?.required && form.get('inscricao_estadual').touched"
          class="text-danger font-14">Você precisa inserir a inscrição estadual.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
        <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
          [floatLabel]="form.value.floatLabel">
          <mat-label>Status</mat-label>
          <mat-select required formControlName="status">
            <mat-option>-- Selecione... --</mat-option>
            <mat-option [value]=true>Ativo</mat-option>
            <mat-option [value]=false>Inativo</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="form.get('status').errors?.required && form.get('status').touched"
          class="text-danger font-14">Você precisa selecionar o status.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Nome fantasia*</mat-label>
          <input matInput placeholder="Nome fantasia" formControlName="nome_fantasia">
        </mat-form-field>
        <mat-hint *ngIf="form.get('nome_fantasia').errors?.required && form.get('nome_fantasia').touched"
          class="text-danger font-14">Você deve incluir um nome fantasia.</mat-hint>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Razão social*</mat-label>
          <input matInput placeholder="Razão social*" formControlName="razao_social">
        </mat-form-field>
        <mat-hint *ngIf="form.get('razao_social').errors?.required && form.get('razao_social').touched"
          class="text-danger font-14">Você deve incluir uma razão social.</mat-hint>
      </div>
    </div>
    <div formArrayName="enderecos_clientes" fxLayout="row wrap" class="row">
      <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <h4 class="dadosCadastro"><span style="margin-left: 10%;">Endereço</span>
          <a style="float: right;" (click)="addEndereco()"><i class="material-icons plus-icons">add_circle_outline</i>
            <span class="title">Novo Endereço</span></a>
        </h4>
      </div>
      <div fxLayout="row wrap" *ngFor="let e of form.get('enderecos_clientes').controls; index as i"
        [formGroupName]="i">
        <div fxLayout="row wrap" formGroupName="endereco">
          <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            Endereço - {{i + 1}}
            <button mat-icon-button (click)="delEndereco(i)">
              <mat-icon class="clear">clear</mat-icon>
            </button>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="13" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>CEP</mat-label>
              <input matInput placeholder="CEP" mask="00000-000" (blur)="onBlurMethod(i)" formControlName="cep">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="55" fxFlex.gt-xs="52" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Logradouro</mat-label>
              <input matInput placeholder="Logradouro" formControlName="logradouro">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Número</mat-label>
              <input matInput placeholder="Número" formControlName="numero">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="21" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Complemento</mat-label>
              <input matInput placeholder="Complemento" formControlName="complemento">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input matInput placeholder="Bairro" formControlName="bairro">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="36" fxFlex.gt-xs="36" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input matInput placeholder="Cidade" formControlName="cidade">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="34" fxFlex.gt-xs="34" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
              <mat-label>Estado*</mat-label>
              <mat-select formControlName="estado_id">
                <mat-option *ngFor="let estado of estados" [value]="estado.id">
                  {{estado.nome}}
                </mat-option>
              </mat-select>
              <mat-placeholder>Representada</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="cliente_representada_area_vendas" fxLayout="row wrap" class="row">
      <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <h4 class="dadosCadastro"><span style="margin-left: 10%;">Área de Venda</span>
          <a style="float: right;" (click)="addAreaVenda()"><i class="material-icons plus-icons">add_circle_outline</i>
            <span class="title">Nova Área de Venda</span></a>
        </h4>
      </div>
      <div fxLayout="row wrap" *ngFor="let e of form.get('cliente_representada_area_vendas').controls; index as i"
        [formGroupName]="i">
        <div fxLayout="row wrap">
          <div class="p-10 aj ml-5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            Área de venda - {{i + 1}}
            <button mat-icon-button (click)="delAreaVenda(i)">
              <mat-icon class="clear">clear</mat-icon>
            </button>
          </div>
            <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100" style="margin-left: 10px;">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
                <mat-label>Área de venda*</mat-label>
                <mat-select formControlName="area_venda_id">
                  <mat-option *ngFor="let area of areas" [value]="area.id">
                    {{area.nome}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Área de venda</mat-placeholder>
              </mat-form-field>
            </div>
            <div class="p-10 aj" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100" style="margin-left: 10px;">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
                <mat-label>Representada*</mat-label>
                <mat-select formControlName="representada_id">
                  <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                    {{representada.nome_fantasia}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Representada</mat-placeholder>
              </mat-form-field>
            </div>
        </div>
      </div>
    </div>
    <div formArrayName="cliente_contatos" fxLayout="row wrap" class="row">
      <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <h4 class="dadosCadastro"><span style="margin-left: 10%;">Contatos</span>
          <a style="float: right;" (click)="addContato()"><i class="material-icons plus-icons">add_circle_outline</i>
            <span class="title">Novo Contato</span></a>
        </h4>
      </div>
      <div fxLayout="row wrap" *ngFor="let e of form.get('cliente_contatos').controls; index as i"
        [formGroupName]="i">
          <div class="p-10 aj" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            Contato - {{i + 1}}
            <button mat-icon-button (click)="delContato(i)">
              <mat-icon class="clear">clear</mat-icon>
            </button>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Cargo</mat-label>
              <input matInput placeholder="Cargo" formControlName="cargo">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="21" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>WhatsApp</mat-label>
              <input matInput placeholder="Celular" formControlName="celular"  mask="(00) 0 0000-0000">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
          <div class="p-10 aj" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Aniversário</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="aniversario" placeholder="Aniversário">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
            <mat-checkbox class="example-margin" formControlName="preferential">Contato do Charlie?</mat-checkbox>
          </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="row">
      <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <h4 class="dadosCadastro">Outros</h4>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-form-field appearance="outline">
          <mat-label>Representante</mat-label>
          <input matInput placeholder="Representante" formControlName="representante">
        </mat-form-field>
        <mat-hint *ngIf="form.get('representante').errors?.minlength && form.get('representante').touched"
          class="text-danger font-14">O representante tem que conter no mínimo 5 caracteres.</mat-hint>
        <mat-hint *ngIf="form.get('representante').errors?.maxlength && form.get('representante').touched"
          class="text-danger font-14">O representante não deve exceder 50 caracteres</mat-hint>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-form-field appearance="outline">
          <mat-label>Telefone fixo</mat-label>
          <input matInput placeholder="Telefone Fixo" mask="(00) 0000-0000" formControlName="telefone" type="text">
        </mat-form-field>
        <small *ngIf="form.get('telefone').errors?.phone && form.get('telefone').touched" class="text-danger font-14">O
          número inserido deve ser válido.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Celular" mask="(00) 0 0000-0000" formControlName="celular" type="text">
        </mat-form-field>
        <small *ngIf="form.get('celular').errors?.phone && form.get('celular').touched" class="text-danger font-14">O
          número inserido deve ser válido.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="25">
        <mat-form-field appearance="outline">
          <mat-label>Limite de Crédito</mat-label>
          <input matInput placeholder="Limite de crédito" formControlName="limite" currencyMask>
        </mat-form-field>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="34" fxFlex.gt-xs="34" fxFlex="34">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" type="email">
        </mat-form-field>
        <small *ngIf="form.get('email').errors?.email && form.get('email').touched" class="text-danger font-14">O
          endereço de email deve ser valido.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
          <mat-label>Ramo de Atividade</mat-label>
          <mat-select formControlName="ramo_atividade_id">
            <mat-option *ngFor="let ramo of ramos" [value]="ramo.id">
              {{ramo.nome}}
            </mat-option>
          </mat-select>
          <mat-placeholder>Ramo de Atividade</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="16" fxFlex.gt-xs="16" fxFlex="100">
        <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
          [floatLabel]="form.value.floatLabel">
          <mat-label>Tipo de Cliente</mat-label>
          <mat-select required formControlName="tipo_cliente">
            <mat-option>-- Selecione... --</mat-option>
            <mat-option value="final">Final</mat-option>
            <mat-option value="revendedor">Revendedor</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="form.get('tipo_cliente').errors?.required && form.get('tipo_cliente').touched"
          class="text-danger font-14">Você precisa selecionar a tipo.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="16" fxFlex.gt-xs="16" fxFlex="100">
        <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
          [floatLabel]="form.value.floatLabel">
          <mat-label>Categoria Volk</mat-label>
          <mat-select formControlName="categoria_volk">
            <mat-option>-- Selecione... --</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C">C</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="form.get('categoria_volk').errors?.required && form.get('categoria_volk').touched"
          class="text-danger font-14">Você precisa selecionar a categoria.</small>
      </div>
      <div class="p-10 aj" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="15">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true" [floatLabel]="auto">
          <mat-label>Tipo de Pagamento*</mat-label>
          <mat-select required formControlName="pagamento_tipo">
            <mat-option value="Faturamento" (click)="clearVencimento()">Faturamento</mat-option>
            <mat-option value="Vencimento" (click)="addVencimento(null, 'v')">Vencimento</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="form.get('pagamento_tipo').errors?.required && form.get('pagamento_tipo').touched"
          class="text-danger font-14">Você precisa selecionar o tipo de pagamento.</small>
      </div>
      <div *ngIf="form.controls['pagamento_tipo'].value == 'Vencimento'" class="p-10 aj" style="margin-left: -5px;"
        fxFlex.gt-sm="5" fxFlex.gt-xs="5" fxFlex="5">
        <i style="color: blue;" class="material-icons plus-icons" (click)="addVencimento()">add_circle_outline</i>
      </div>
      <div formArrayName="cliente_vencimentos" class="p-10 aj" fxFlex.gt-sm="55" fxFlex.gt-xs="55" fxFlex="55">
        <div *ngFor="let v of form.get('cliente_vencimentos').controls; index as j" [formGroupName]="j"
          fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20">
          <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70">
            <mat-form-field appearance="outline" style="position: relative;">
              <mat-label>Venc. {{j + 1}}</mat-label>
              <input matInput placeholder="Venc. {{j + 1}}" formControlName="vencimento">
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
            <mat-icon class="material-icons x-icons" (click)="delVencimento(i)">highlight_off</mat-icon>
          </div>
        </div>
      </div>
      <div class="p-10 aj1" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <h4 class="dadosCadastro">Observação</h4>
      </div>
      <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput formControlName="obs">
        </mat-form-field>
        <textarea *ngIf="form.get('obs').errors?.maxlength && form.get('obs').touched"
          class="text-danger font-14">O representante não deve exceder 50 caracteres</textarea>
      </div>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
        (click)="onSubmit();">Salvar</button>
      <button style="margin-left: 15px;" mat-raised-button color="warn" (click)="close()">Cancelar</button>
    </mat-card-actions>
  </form>
</mat-card-content>
<!-- <a (click) = "getFormValidationErrors()" >errors</a> -->