.title{
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: -5px;
}
.clear{
  color:red;
  cursor: pointer;
}
.dadosCadastro{
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: -5px;
  text-align: center;
}
.plus-icons{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  vertical-align: unset !important;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}
.plus-icons:active {
  background-color: rgb(21, 115, 255);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}
.container {
  display: flex;
}
.fill {
  flex: 1;
}
.aj{
  margin-top: -20px;
}

.x-icons{
  color: red;
  margin-left: -3px !important;
  vertical-align: unset !important;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  position:relative;

}
.x-icons:hover {background-color: #d6d7d8}

.x-icons:active {
  background-color: #df6969;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}