<mat-card-content>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutWrap="wrap" class="row">
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header class="bg-info text-white">
          <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
        </mat-card-header>
      </div>
      <div class="p-10" fxFlex.gt-sm="35" fxFlex.gt-xs="30" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" formControlName="cnpj" (blur)="onBlurCnpj()" type="digits">
        </mat-form-field>
        <small *ngIf="form.get('cnpj').errors?.required && form.get('cnpj').touched"
          class="text-danger font-14">Você precisa inserir um CNPJ.</small>
        <small *ngIf="form.get('cnpj').errors?.minlength && form.get('cnpj').touched"
          class="text-danger font-14">Você precisa inserir um CNPJ válido.</small>
      </div>
      <div class="p-10" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Inscrição estadual" formControlName="inscricao_estadual" type="digits">
        </mat-form-field>
        <small *ngIf="form.get('inscricao_estadual').errors?.required && form.get('inscricao_estadual').touched"
          class="text-danger font-14">Você precisa inserir a inscrição estadual.</small>
      </div>
      <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
        <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
          [floatLabel]="form.value.floatLabel">
          <mat-label>Status</mat-label>
          <mat-select required formControlName="status">
            <mat-option>-- Selecione... --</mat-option>
            <mat-option [value]=true>Ativo</mat-option>
            <mat-option [value]=false>Inativo</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="form.get('status').errors?.required && form.get('status').touched"
          class="text-danger font-14">Você precisa selecionar o status.</small>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nome fantasia" formControlName="nome_fantasia">
        </mat-form-field>
        <mat-hint *ngIf="form.get('nome_fantasia').errors?.required && form.get('nome_fantasia').touched"
          class="text-danger font-14">Você deve incluir um nome fantasia.</mat-hint>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Razão social*" formControlName="razao_social">
        </mat-form-field>
        <mat-hint *ngIf="form.get('razao_social').errors?.required && form.get('razao_social').touched"
          class="text-danger font-14">Você deve incluir uma razão social.</mat-hint>
      </div>
    </div>
    <div formArrayName="enderecos" fxLayout="row" fxLayoutWrap="wrap" class="row">
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header class="bg-info text-white">
          <mat-card-title class="Endereco">Endereço</mat-card-title>
          <button mat-icon-button (click)="addEndereco()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-header>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let endereco of form.get('enderecos').controls; index as i" [formGroupName]="i"  > 
        <button mat-icon-button (click)="delEndereco(i)">
          <mat-icon>clear</mat-icon>
        </button>
        <div class="p-10" fxFlex.gt-sm="13" fxFlex.gt-xs="13" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="CEP" mask="00000-000" (blur)="onBlurMethod(i)" formControlName="cep">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="55" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Logradouro" formControlName="logradouro">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Número" formControlName="numero">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="21" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Complemento" formControlName="complemento">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Bairro" formControlName="bairro">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="36" fxFlex.gt-xs="36" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Cidade" formControlName="cidade">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="34" fxFlex.gt-xs="34" fxFlex="100">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Estado" formControlName="estado">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="34" fxFlex.gt-xs="34" fxFlex="100">  
        </div>  
      </div>
    </div>
    <div fxLayout="row" fxLayoutWrap="wrap" class="row">
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header class="bg-info text-white">
          <mat-card-title class="Outros">Outros</mat-card-title>
        </mat-card-header>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Telefone Fixo" mask="(00) 0000-0000" formControlName="telefone"
            type="text">
        </mat-form-field>
        <small *ngIf="form.get('telefone').errors?.phone && form.get('telefone').touched"
          class="text-danger font-14">O número inserido deve ser válido.</small>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Celular" mask="(00) 0 0000-0000" formControlName="celular"
            type="text">
        </mat-form-field>
        <small *ngIf="form.get('celular').errors?.phone && form.get('celular').touched"
          class="text-danger font-14">O número inserido deve ser válido.</small>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Representante*" formControlName="representante">
        </mat-form-field>
        <mat-hint *ngIf="form.get('representante').errors?.minlength && form.get('representante').touched"
          class="text-danger font-14">O representante tem que conter no mínimo 5 caracteres.</mat-hint>
        <mat-hint *ngIf="form.get('representante').errors?.maxlength && form.get('representante').touched"
          class="text-danger font-14">O representante não deve exceder 50 caracteres</mat-hint>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" formControlName="email" type="email">
        </mat-form-field>
        <small *ngIf="form.get('email').errors?.email && form.get('email').touched"
          class="text-danger font-14">O endereço de email deve ser valido.</small>
      </div>
      <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true"
          [floatLabel]="auto">
          <mat-label>Área de venda</mat-label>
          <mat-select formControlName="area_venda_id" >
            <mat-option *ngFor="let area of areas" [value]="area.id">
              {{area.nome}}
            </mat-option>
          </mat-select>
          <mat-placeholder>Representada</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true"
          [floatLabel]="auto">
          <mat-label>Ramo de Atividade</mat-label>
          <mat-select formControlName="ramo_atividade_id">
            <mat-option *ngFor="let ramo of ramos" [value]="ramo.id">
              {{ramo.nome}}
            </mat-option>
          </mat-select>
          <mat-placeholder>Ramo de Atividade</mat-placeholder>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header class="bg-info text-white">
          <mat-card-title class="Endereco">Observação</mat-card-title>
        </mat-card-header>
      </div>
      <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput formControlName="obs">
        </mat-form-field>
        <textarea *ngIf="form.get('obs').errors?.maxlength && form.get('obs').touched"
          class="text-danger font-14">O representante não deve exceder 50 caracteres</textarea>
      </div>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="onSubmit();">Salvar</button>
      <button style="margin-left: 15px;" mat-raised-button color="warn" (click)="close()">Cancelar</button>
    </mat-card-actions>
  </form>
</mat-card-content>
<!-- <a (click) = "getFormValidationErrors()" >errors</a> -->