<h1 mat-dialog-title style="font-weight: bold;font-size: x-large;" >Cadastrar nota fiscal</h1>
  <p>Pedidos sem nota fiscal cadastrada:</p>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let step of steps " class="aba" label="{{step.titulo}}">
      <mat-form-field>
        <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
        (keyup)='updateFilter($event)' />
      </mat-form-field>
      <ngx-datatable 
      #step.step 
      class='material striped' 
      [columnMode]="'flex'" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [rowHeight]="'auto'" 
      [limit]="5"
      [rows]='rows[step.index]' 
      [selected]="selected"
      [selectionType]="'single'"
      (select)='onSelect($event)' 
      [sorts]="[{prop: 'id', dir: 'asc'}]">
        <ngx-datatable-column *ngFor="let column of step.columns"  [flexGrow]=column.width name="{{column.name}}" prop="{{column.prop}}" [ngSwitch]="column.prop">
          <ng-template *ngSwitchCase="'data_entrega'" let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{value |  date:'dd/MM/yyyy'}}
          </ng-template>
          <ng-template ngSwitchDefault let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-tab>
  </mat-tab-group>
  <div class="p-20" fxLayout="row wrap" fxLayoutAlign="end start">
    <button mat-raised-button color="warn" (click)="close()">Sair</button>
  </div>

