<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title class="custom-title">Cadastro de Produtos </mat-card-title>
                <!--<mat-card-subtitle>Check the <code class=""><a href="https://material.angular.io/components/tabs/overview">Official Component</a></code></mat-card-subtitle>--> 
            </mat-card-content>

    <mat-card-content>  
      <form class="basic-form" (ngSubmit)="onSubmit()">
      
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field appearance="outline">
            <mat-label>Código do Produto</mat-label>
              <input matInput placeholder="Código do Produto" [formControl]="form.controls['codigo']">
            </mat-form-field>
              <mat-hint *ngIf="form.controls['codigo'].hasError('required') && form.controls['codigo'].touched" class="text-danger font-14">É necessário inserir o código do produto.</mat-hint>
              <mat-hint *ngIf="form.controls['codigo'].hasError('minlength') && form.controls['codigo'].touched" class="text-danger font-14">O código deve conter no mínimo 5 caracteres</mat-hint>
              <mat-hint *ngIf="form.controls['codigo'].hasError('maxlength') && form.controls['codigo'].touched" class="text-danger font-14">O código não deve exceder 50 caracteres.</mat-hint>
          </div>

          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-card-header class="text-black">
              <mat-card-title class="dadosFornecedor">Dados do Fornecedor</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>

          </div>   

          <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
              <mat-form-field 
                    appearance="outline"
                    [hideRequiredMarker]="form.value.hideRequired"
                    [floatLabel]="form.value.floatLabel">
                    <mat-label>Selecione a representada</mat-label>
                  <mat-select required [(ngModel)]="selectedRepresentada" name="representada">
                      <mat-option *ngFor="let representada of representadas" [value]="representada.id">
                          {{representada.razao_social}}
                        </mat-option>                  
                      </mat-select>
                  <mat-placeholder>Representada</mat-placeholder>
                </mat-form-field>
              </div> 
          <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field appearance="outline">
            <mat-label>Nome do Produto</mat-label>
              <input matInput placeholder="Nome do Produto" [formControl]="form.controls['nome']">
            </mat-form-field>
              <mat-hint *ngIf="form.controls['nome'].hasError('required') && form.controls['nome'].touched" class="text-danger font-14">Nome Completo.</mat-hint>
              <mat-hint *ngIf="form.controls['nome'].hasError('minlength') && form.controls['nome'].touched" class="text-danger font-14">O nome deve conter no mínimo 5 caracteres</mat-hint>
              <mat-hint *ngIf="form.controls['nome'].hasError('maxlength') && form.controls['nome'].touched" class="text-danger font-14">Seu nome não deve exceder 50 caracteres.</mat-hint>
          </div>

          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-card-header class="text-black">
              <mat-card-title class="dadosProduto">Dados do produto</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
          </div>   
  
          <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Certificado de Aprovação</mat-label>
                <input matInput placeholder="Certificado de Aprovação" [formControl]="form.controls['certificadoAprovacao']">
              </mat-form-field>
                <mat-hint *ngIf="form.controls['certificadoAprovacao'].hasError('required') && form.controls['certificadoAprovacao'].touched" class="text-danger font-14">É necessário inserir um certificado de aprovação.</mat-hint>
                <mat-hint *ngIf="form.controls['certificadoAprovacao'].hasError('minlength') && form.controls['certificadoAprovacao'].touched" class="text-danger font-14">O certificado tem que ter no mínimo 5 caracteres.</mat-hint>
                <mat-hint *ngIf="form.controls['certificadoAprovacao'].hasError('maxlength') && form.controls['certificadoAprovacao'].touched" class="text-danger font-14">O certificado não deve exceder 50 caracteres</mat-hint>
            </div>  

            <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>IPI</mat-label>
                <input matInput suffix="%" mask="999" placeholder="IPI" [formControl]="form.controls['ipi']">
              </mat-form-field>
                <mat-hint *ngIf="form.controls['ipi'].hasError('required') && form.controls['ipi'].touched" class="text-danger font-14">É necessário incluir um IPI.</mat-hint>
                <mat-hint *ngIf="form.controls['ipi'].hasError('minlength') && form.controls['ipi'].touched" class="text-danger font-14">O IPI tem que ter no mínimo 5 caracteres.</mat-hint>
                <mat-hint *ngIf="form.controls['ipi'].hasError('maxlength') && form.controls['ipi'].touched" class="text-danger font-14">O IPI não deve exceder 50 caracteres.</mat-hint>
            </div> 
      
        <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Embalagem</mat-label>
              <input matInput placeholder="Embalagem" [formControl]="form.controls['embalagem']">
            </mat-form-field>
              <mat-hint *ngIf="form.controls['embalagem'].hasError('required') && form.controls['embalagem'].touched" class="text-danger font-14">É necessário incluir uma embalagem</mat-hint>
              <mat-hint *ngIf="form.controls['embalagem'].hasError('minlength') && form.controls['embalagem'].touched" class="text-danger font-14">A embalagem tem que ter no mínimo 5 caracteres.</mat-hint>
              <mat-hint *ngIf="form.controls['embalagem'].hasError('maxlength') && form.controls['embalagem'].touched" class="text-danger font-14">A emalagem não deve exceder 50 caracteres.</mat-hint>
          </div> 

          <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
              <mat-form-field 
                    appearance="outline"
                    [hideRequiredMarker]="form.value.hideRequired"
                    [floatLabel]="form.value.floatLabel">
                    <mat-label>Selecione a unidade</mat-label>
                  <mat-select required [(ngModel)]="selectedUnidade" name="unidade">
                      <mat-option *ngFor="let unidade of unidades" [value]="unidade.id">
                          {{unidade.sigla}}
                        </mat-option>                  
                      </mat-select>
                  <mat-placeholder>Unidade</mat-placeholder>
                </mat-form-field>
              </div>  
          <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
              <mat-form-field
                    appearance="outline"
                    [hideRequiredMarker]="form.value.hideRequired"
                    [floatLabel]="form.value.floatLabel">
                    <mat-label>Selecione o status</mat-label>
                  <mat-select required [formControl]="form.controls['status']">
                    <mat-option [value]=1>Ativo</mat-option>
                    <mat-option [value]=0>Inativo</mat-option>
                  </mat-select>
                  <mat-placeholder>Status</mat-placeholder>
                </mat-form-field>
           </div>     
  
      </div>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.valid">Salvar cadastro</button>
      </mat-card-actions>
    </form>
    </mat-card-content>            
                
        </mat-card>    
    </div>
  </div>
  
  