.mat-cell{
    font-size: 12px;
}

th.mat-header-cell {
    border-bottom-color: black;
}

.mat-row:nth-child(even){
    background: #eee; 
}

.formInputs {
    font-size: 12px;
}

@media print {
    .tamanhoPedidos {
        font-size: 10px !important;
    }

    .mat-cell{
        font-size: 10px;
    }
}