<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title style="font-weight: bold;font-size: x-large;">Homologações</mat-card-title>
        <mat-card-actions align="end">
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="openDialog()">Nova Homologação</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngFor="let step of steps " class="aba" label="{{step.titulo}}">
          <mat-card-content>
            <mat-card-title>Buscar</mat-card-title>
            <mat-form-field>
              <input matInput type='text' class="form-control"
                placeholder='Digite um nome/cnpj ou cod. do produto para filtrar...' (keyup)='updateFilter($event)' />
            </mat-form-field>
            <ngx-datatable #table class='material striped' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [limit]="20" [rows]='rows[step.index]'>

              <ngx-datatable-column [flexGrow]="0.5" name="ID">
                <ng-template let-value="id" let-row="row" ngx-datatable-cell-template>
                  {{ row.id }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="1.5" name="Cliente">
                <ng-template let-value="nome" let-row="row" ngx-datatable-cell-template>
                  {{ row.cliente.nome_fantasia }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="1.2" name="CNPJ">
                <ng-template let-value="cnpj" let-row="row" ngx-datatable-cell-template>
                  {{ row.cliente.cnpj | mask:'00.000.000/0000-00'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="1" name="Produto">
                <ng-template let-value="vendedor" let-row="row" ngx-datatable-cell-template>
                  {{ row.produto.codigo_catalogo }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="0.8" name="Dt. Inicial">
                <ng-template let-value="created" let-row="row" ngx-datatable-cell-template>
                  {{ row.data_inicial | date:'dd/MM/yyyy' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="0.8" name="Dt. Final">
                <ng-template let-value="created" let-row="row" ngx-datatable-cell-template>
                  {{ row.data_final | date:'dd/MM/yyyy'  }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="0.8" name="Status">
                <ng-template let-value="modified" let-row="row" ngx-datatable-cell-template>
                  {{ (row.status) }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="0.8" name="Ações">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <i class="fa fa-pencil button" title="Editar" (click)="edit(row);"></i>
                  <i class="fa fa-trash-o button2" title="Deletar" (click)="delete(row)"></i>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>



