.buttonP {
    padding: 6px 9px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 10px;
  }
  
  .buttonP:hover {background-color: #1e88e5}
  
  .buttonP:active {
    background-color: #519fe2;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  .buttonP2 {
    padding: 6px 9px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 10px;
  }
  
  .buttonP2:hover {background-color: red}
  
  .buttonP2:active {
    background-color:red;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: 0.3rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    font-size: 0.65em;
    font-weight: 400;
  }
  
  .custom-datatable ngx-datatable.material .datatable-header .datatable-header-cell {
    font-size: 2px !important;
  }