<div align="end" style="margin-bottom: -40px">
    <button mat-raised-button type="button" (click)="exportar()">Gerar Excel</button>
    <button mat-raised-button type="button" class="m-l-10" (click)="printWindowCurrent()">Imprimir</button>
    <button mat-raised-button type="button" class="m-l-10" color="warn" (click)="close()">Voltar</button>
</div>
<div id="impressao" cdkFocusInitial>
    <div fxLayout="row wrap">
        <!-- Card column -->
        <div fxFlex.gt-sm="100%" fxFlex="100">
            <div fxLayout="row wrap" class="row">,
                <div class="p-10">
                    <img src="./assets/images/logo.png" alt="logo">
                </div>
                <div class="p-t-10 p-l-10 text-left" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"><span style="font-weight: bold;"> Relatório Acumulado de Comissões</span></div>
                <div class="p-l-10 text-left formInputs m-t-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="data.representada" style="font-size: 13px;"> Representada: {{data.representada.razao_social | titlecase}}</div>
                <!-- <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="data.form.dtInicio != null"> Inicio: {{data.form.dtInicio | date:'dd/MM/yyyy'}}</div>
                <div class="p-l-10 text-left formInputs" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="data.form.dtFinal != null"> Fim: {{data.form.dtFinal | date:'dd/MM/yyyy'}}</div> -->
                <table mat-table [dataSource]="dataSource" style="width: 100%; font-family: Verdana, Tahoma, Arial, Sans-serif; font-size: 10px;" class="m-t-20">
                    
                    <ng-container matColumnDef="area" >
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Área de Venda </th>
                        <td mat-cell *matCellDef="let element; let i = index" class="text-left" > {{element.area | titlecase}}</td>
                        <td mat-footer-cell *matFooterCellDef > <span style="font-weight: bold;">Total: </span></td>
                    </ng-container>

                    <ng-container matColumnDef="notas_valor" >
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Valor das Notas </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right"> {{element.notas_valor | currency:'BRL':'symbol':'1.2-5'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="tamanhoPedidos text-right" style="font-weight: bold;"> {{total.nota | currency:'BRL':'symbol':'1.2-5'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valor_devolucoes" >
                        <th mat-header-cell *matHeaderCellDef class="text-right">Valor de Devoluções</th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right"> {{element.valor_devolucoes | currency:'BRL':'symbol':'1.2-5'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="tamanhoPedidos text-right" style="font-weight: bold;"> {{total.devolucao | currency:'BRL':'symbol':'1.2-5'}}  </td>
                    </ng-container>

                    <ng-container matColumnDef="comissao_recebida" >
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Comissão Rec </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right" > {{element.comissao_recebida | currency:'BRL':'symbol':'1.2-5'}}</td>
                        <td mat-footer-cell *matFooterCellDef class="tamanhoPedidos text-right" style="font-weight: bold;"> {{total.comissao_recebida | currency:'BRL':'symbol':'1.2-5'}}  </td>
                    </ng-container>

                    <ng-container matColumnDef="percentual_recebido" >
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Perc. Rec</th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right" > {{element.percentual_recebido | number : '1.2-5'}}%</td>
                        <td mat-footer-cell *matFooterCellDef class="tamanhoPedidos text-right" style="font-weight: bold;"> {{total.percentual_recebido | number : '1.2-5'}}% </td>
                    </ng-container>

                    <ng-container matColumnDef="comissao_paga" >
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Comissão Paga </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right" > {{element.comissao_paga | currency:'BRL':'symbol':'1.2-5'}} </td>
                        <td mat-footer-cell *matFooterCellDef class="tamanhoPedidos text-right" style="font-weight: bold;"> {{total.comissao_paga | currency:'BRL':'symbol':'1.2-5'}}  </td>
                    </ng-container>

                    <ng-container matColumnDef="percentual_pago" >
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Perc. Pago </th>
                        <td mat-cell *matCellDef="let element" class="tamanhoPedidos text-right" > {{element.percentual_pago | number : '1.2-5'}}% </td>
                        <td mat-footer-cell *matFooterCellDef class="tamanhoPedidos text-right" style="font-weight: bold;"> {{total.percentual_pago | number : '1.2-5'}}%</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 30px !important;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 25px !important;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns" style="height: 30px !important;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>