<h1 mat-dialog-title style="font-weight: bold;font-size: x-large;" >Editar nota fiscal</h1>
<div mat-dialog-content>
  <p>
    Cliente: <strong>{{pedido?.cliente.razao_social}}</strong>
  </p>
  <!-- <p>
    Editar PEDIDO: <span style="color: blue;">{{data.pedido.num_pedido }} </span>
    <i class="fa fa-pencil button" title="Editar" (click)="edit(pedido);"></i>
  </p> -->
  <p>
    PEDIDO Nº: <span style="color: blue;">{{data.pedido.num_pedido }} </span>
  </p>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutWrap="wrap" class="row">
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Numero da nota</mat-label>
          <input matInput placeholder="Numero da nota" [formControl]="form.controls['num_nota']" type="numbers">
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Data de Faturamento</mat-label>
          <input matInput [matDatepicker]="pickerEntrega"
            [formControl]="form.controls['data_faturamento']" placeholder="Data Programada">
          <mat-datepicker-toggle matSuffix [for]="pickerEntrega"></mat-datepicker-toggle>
          <mat-datepicker #pickerEntrega></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Observação" [formControl]="form.controls['obs']"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div style="margin-top: -55px;">
  <mat-tab-group >
    <mat-tab *ngFor="let step of steps " class="aba" label="{{step.titulo}}">
      <mat-form-field>
        <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
        (keyup)='updateFilter($event)' />
      </mat-form-field>
      <ngx-datatable
      #table
      class='material striped' 
      [columnMode]="'flex'" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [rowHeight]="50"
      [selectionType]="'checkbox'"
      [rows]='rows'>

      <ngx-datatable-column [flexGrow]="0.4" name="Código" prop="produto.codigo_catalogo">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="0.4" name="Tamanho" prop="tamanho">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column [flexGrow]="2.5" name="Nome do produto" prop="produto.nome">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" name="IPI" prop="ipi">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" name="Valor total" prop="valor_total">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ (row.valor_unitario * row.quantidade) | currency : 'R$' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" name="Valor Unitario" prop="valor_unitario">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ value | currency : 'R$' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" name="Quantidade" prop="quantidade">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" name="Qtd Recebida" prop="quantidade_recebida">
        <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
          <mat-form-field>
            <input matInput value="quantidade_recebida" class='row-color' [(ngModel)]="row.quantidade_recebida" [disabled]="!isEditable[rowIndex] && !row.parcial">
          </mat-form-field>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column  [flexGrow]="0.4" name="Parcial" [sortable]="false" [draggable]="false">
        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-row="row" let-rowIndex="rowIndex"
          let-onCheckboxChangeFn="onCheckboxChangeFn">
          <input type="checkbox"  [checked]="row.parcial" (change)="this.isEditable[rowIndex]=!this.isEditable[rowIndex]" [disabled]="row.quantidade_recebida == 0"/>
        </ng-template>
      </ngx-datatable-column>

      </ngx-datatable>
    </mat-tab>
  </mat-tab-group>
</div>
<br>
<b>Valor Total do Pedido: {{pedido?.valor_total | currency:'BRL':true:'1.2-2'}}</b>
<br>
<b>Valor Total da Nota: {{ totalNota() | currency:'BRL':true:'1.2-2'}}</b>
<br>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="!form.valid">Salvar</button>
  <button mat-raised-button color="warn" (click)="cancel()" >Cancelar</button>
</div>

