.title{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 30px;
  }
  .text{
    font-size: small;
    }  
.center {
  text-align: left;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.inner-col-header{
  font-size: 9pt;
  font-weight: 500;
  color: rgb(0, 0, 99);
  border-top: 1px solid black;
  width: 300px;
}
.buttonComissao{
  margin-top: -15px; 
  margin-bottom: 10px;
}
.vt{
  font-weight: bold;
}
.ct{
  font-weight: bold;
  color: darkgreen;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: 0.3rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  font-size: 12px;
  font-weight: 400;
}