<div fxLayout="row wrap">
  <div fxFlex.gt-sm="60%" fxFlex="60">
      <h3><b>Orçamento: </b><span style="color: blue;">{{dados?.id}}</span><i class="fa fa-pencil button m-l-10" 
        title="Editar" 
        (click)="editar(dados);"></i></h3><br>
  </div>

  <div fxFlex.gt-sm="40%" fxFlex="40" fxLayoutAlign="end start" fxLayoutGap="10px">
    <button mat-stroked-button color="warn" class="p-10" (click)="cancelarOrcamento()">
      <i class="material-icons">close_fullscreen</i>Cancelar Orç.</button>
    <button mat-stroked-button color="primary" class="p-10" (click)="imprimir(dados?.id)">
      <i class="material-icons">print</i>Imprimir
    </button>
    <button mat-stroked-button color="primary" class="p-10" (click)="sendEmail(dados?.id)">
      <i class="material-icons">mail</i>Email
    </button>
  </div>
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <b>Representada: </b>{{dados?.representada.razao_social}}<br>
    <b>Cliente: </b>{{dados?.cliente.razao_social}} - <b>CNPJ: </b>{{dados?.cliente.cnpj}}<br>
    <b>Cidade: </b>{{dados?.cliente?.enderecos_clientes[0]?.endereco.cidade}} - <b>UF: </b>{{dados?.cliente?.enderecos_clientes[0]?.endereco.estado.nome}}<br>
    <b>Condição de Pagamento: </b>{{dados?.condicao_comercial.nome}}<br>
    <b>Data de Emissão: </b>{{dados?.data_emissao}}<br>
    <b>Transportadora: </b>{{dados?.transportadora}}<br>
    <b>Frete: </b>{{dados?.frete}} - <b>Previsão de Entrega: </b>{{dados?.prazo_entrega}}<br>
    <b>Valor Total: </b>{{dados?.valor_total | currency:'BRL':true:'1.2-5'}}<br>
    <b>Obs: </b>{{dados?.obs}}<br>
  </div>
</div>
<mat-form-field>
  <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
    (keyup)='updateFilter($event)' />
</mat-form-field>
<ngx-datatable class='material striped' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
  [rowHeight]="'auto'" [limit]="5" [rows]='rows' [sorts]="[{prop: 'id', dir: 'asc'}]">

  <ngx-datatable-column [flexGrow]="0.8" name="Código" prop="produto.codigo_catalogo">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="1.8" name="Nome do produto" prop="produto.nome">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="0.7" name="Tamanho" prop="tamanho">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="0.6" name="Qtd" prop="quantidade">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="1" name="Vlr Unitário" prop="valor_unitario">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value | currency:'BRL':true:'1.2-5' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="1" name="Vlr Total" prop="valor_total">
    <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
      {{ value | currency:'BRL':true:'1.2-5' }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>


<div class="p-20" fxLayout="row wrap" fxLayoutAlign="end start">
  <button mat-raised-button color="warn" (click)="close()">Sair</button>
</div>
