<div class="border">
    <h1 mat-dialog-title> Informações extras do email!</h1>
    <div mat-dialog-content>
        <p *ngIf="data?.email != null">Para: {{data.email}}</p>
        <mat-form-field *ngIf="data?.emails != null" appearance="outline" [floatLabel]="'always'" class="w-100">
            <mat-label>Email</mat-label>
            <mat-select [formControl]="emailForm">
                <mat-option *ngFor="let email of data.emails" [value]="email.id" (click)="setEmail(email)" (onSelectionChange)="setEmail(email)">
                    {{email.email }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <form [formGroup]="form" >
            <mat-form-field appearance="fill">
                <mat-label>CC: </mat-label>
                <input matInput placeholder="Ex: mail@gmail.com , mail2@gmail.com" formControlName="cc">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Mensagem</mat-label>
                <textarea matInput placeholder="mensagem que deseja enviar" formControlName="mensagem" ></textarea>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" (click)="enviar()">Enviar</button>
        <button mat-button color="primary" autofocus (click)="Cancelar()">Cancelar</button>
    </div>
</div>