.title{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 30px;
  }
.text{
  font-size: small;
  }  
 .order{
  padding-top: 25px;
  padding-left: 10px;
  font-weight: bold;
  margin-right: -10px;
 }   