
<h1 mat-dialog-title>Visualizando NF: <span style="font-weight: bolder;">{{dados?.num_nota}}</span></h1>
<div mat-dialog-content>
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <div fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100" >
        <span><strong>Cod. Pedido: </strong>{{dados?.pedido.num_pedido}}</span>
      </div>
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100" >
        <span><strong>Representada:</strong>{{dados?.pedido.representada.nome_fantasia}}</span>
      </div>
      <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" >
        <span><strong>Cliente:</strong> {{dados?.pedido.cliente.razao_social}}</span>
      </div>
      <div fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex="100" >
        <span><strong>Valor:</strong> {{dados?.pedido.valor_total | currency:'BRL':true:'1.2-2'}}</span>
      </div>
      <div fxFlex.gt-sm="21" fxFlex.gt-xs="21" fxFlex="100" >
        <span><strong>Dt. Faturamento:</strong> {{dados?.data_faturamento |  date:'dd/MM/yyyy'}}</span>
      </div>
    </div>
  </div>
  <div class="p-20" fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <div *ngFor="let parcela of dados?.nota_parcelas" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" >
        <span><strong>Dt. Vencimento:</strong> {{parcela?.data_vencimento |  date:'dd/MM/yyyy'}}</span>
        <span><strong>Recebido:</strong>{{parcela?.status_recebimento}}</span>
      </div>
    </div>
  </div>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let step of steps " class="aba" label="{{step.titulo}}">
      <mat-form-field>
        <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
        (keyup)='updateFilter($event)' />
      </mat-form-field>
      <ngx-datatable 
      #step.step 
      class='material striped' 
      [columnMode]="'flex'" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [rowHeight]="'auto'" 
      [limit]="5"
      [rows]='rows[step.index]'
      [sorts]="[{prop: 'id', dir: 'asc'}]">

        <ngx-datatable-column [flexGrow]="0.4" name="Código" prop="produto.codigo">
          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="0.4" name="Tamanho" prop="tamanho">
          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column [flexGrow]="2.5" name="Nome do produto" prop="produto.nome">
          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1" name="Quantidade" prop="quantidade">
          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1" name="Valor" prop="valor_total">
          <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value | currency:'BRL':true:'1.2-2' }}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </mat-tab>
  </mat-tab-group>
</div>