<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Listar</mat-card-title>
          </mat-card-content>
          <mat-tab-group>
              <mat-tab label="Ramo de atividade"><mat-card-content>
                          <mat-card-title>Buscar</mat-card-title>
                          <mat-form-field>
                             <input matInput  type='text' class="form-control"  placeholder='Digite um nome para filtrar...' (keyup)='updateFilter($event)'   />
                          </mat-form-field>
                          <ngx-datatable
                              #table
                              class='material'
                              [columns]="columns"
                              [columnMode]="'force'"
                              [headerHeight]="50"
                              [footerHeight]="50"
                              [rowHeight]="'auto'"
                              [limit]="20"
                              [rows]='rows'>
                            </ngx-datatable>
              </mat-card-content></mat-tab>
          </mat-tab-group>
      </mat-card>    
  </div>
</div>