.dialog-headline{
    font-weight: 800;
    margin-top: -0.85em;
    margin-left: -0.85em;
    margin-right: -0.85em;
    margin-bottom: 0;
    padding: 1em;
    text-align: center;
    font-size: 1.8em;
    background-color: dodgerblue;
    color:white;
}
.text-size {
  font-size: 14px;
}

.mat-row:nth-child(even){
  background: #eee; 
}