
  .dialog{
      max-Width: '75vw';
      max-Height: '75vh';
      width: '75vw';
      height: '65vh';
  }
  .bt{
    margin-left: 10px;
  }
  .dadosCadastro{
    font-size: larger;
    align-items: center;
    margin-top: 16px;
  }      