<mat-dialog-content class="dialog">

  <div fxLayout="row wrap" [hidden]="true">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <form [formGroup]="form">

        <div fxLayout="row wrap" class="row">

          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-header class="bg-info text-white">
              <mat-card-title class="dadosCadastro">{{pageTitle}}</mat-card-title>
            </mat-card-header>
          </div>

          <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Sigla</mat-label>
              <input matInput placeholder="Sigla" [formControl]="form.controls['sigla']">
            </mat-form-field>
            <mat-hint *ngIf="form.controls['sigla'].hasError('required') && form.controls['sigla'].touched"
              class="text-danger font-14">Digite a sigla.</mat-hint>
            <mat-hint *ngIf="form.controls['sigla'].hasError('minlength') && form.controls['sigla'].touched"
              class="text-danger font-14">A sigla deve conter no mínimo 5 caracteres</mat-hint>
            <mat-hint *ngIf="form.controls['sigla'].hasError('maxlength') && form.controls['sigla'].touched"
              class="text-danger font-14">Sua sigla não deve exceder 50 caracteres.</mat-hint>
          </div>
          <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <input matInput placeholder="Descrição" [formControl]="form.controls['descricao']">
            </mat-form-field>
            <mat-hint *ngIf="form.controls['descricao'].hasError('required') && form.controls['descricao'].touched"
              class="text-danger font-14">Digite a descrição.</mat-hint>
            <mat-hint *ngIf="form.controls['descricao'].hasError('minlength') && form.controls['descricao'].touched"
              class="text-danger font-14">A descrição deve conter no mínimo 5 caracteres</mat-hint>
            <mat-hint *ngIf="form.controls['descricao'].hasError('maxlength') && form.controls['descricao'].touched"
              class="text-danger font-14">Sua descrição não deve exceder 50 caracteres.</mat-hint>
          </div>
          <div class="p-10" fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="100">
            <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
              [floatLabel]="form.value.floatLabel">
              <mat-label>Status</mat-label>
              <mat-select required [formControl]="form.controls['status']">
                <mat-option>-- Selecione... --</mat-option>
                <mat-option [value]=true>Ativo</mat-option>
                <mat-option [value]=false>Inativo</mat-option>
              </mat-select>
              <mat-placeholder>Status</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions class="p-10">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="areaVendasSubmit(); close()">Salvar</button>
          <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
        </mat-card-actions>
      </form>
    </div>
  </div>
</mat-dialog-content>