<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<input type="file" style="display: none" (change)="incomingfile($event)" accept=".xlsx" #hiddenfileinput>
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap" class="row">
          <div class="p-10" fxFlex.gt-sm="60" fxFlex.gt-md="60" fxFlex.gt-xs="60" fxFlex="60">
            <div class="p-10" fxFlex.gt-sm="35" fxFlex.gt-md="35" fxFlex.gt-xs="35" fxFlex="35">
              <mat-card-title style="margin-top: 20px;">Orçamento:</mat-card-title>
            </div>
          </div>
        </div>
        <mat-card-subtitle class="sub-title">--Dados do Pedido--</mat-card-subtitle>
        <form [formGroup]="form" class="form">
          <div fxLayout="row" fxLayoutWrap="wrap" class="row">
            <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
              <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                [floatLabel]="form.value.floatLabel">
                <mat-label>Representada.</mat-label>
                <mat-select required [(ngModel)]="selectedRepresentada" [ngModelOptions]="{standalone: true}"
                  name="representada">
                  <mat-option *ngFor="let representada of representadas" [value]="representada.id"
                    (click)="CarregarProdutosRepresentada()">
                    {{representada.razao_social}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Representada</mat-placeholder>
              </mat-form-field>
            </div>
            <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
              <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                [floatLabel]="form.value.floatLabel">
                <mat-label>Cliente</mat-label>
                <mat-select required [(ngModel)]="selectedCliente" [ngModelOptions]="{standalone: true}" name="cliente">
                  <mat-option *ngFor="let cliente of clientes" [value]="cliente.id" (click)="chargeAdress()">
                    {{cliente.razao_social}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Cliente</mat-placeholder>
              </mat-form-field>
            </div>
            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline">
                <mat-label>Data de Emissão</mat-label>
                <input matInput [matDatepicker]="pickerEmissao" [(ngModel)]="emissao"
                  [formControl]="form.controls['emissao']" placeholder="Data Programada">
                <mat-datepicker-toggle matSuffix [for]="pickerEmissao"></mat-datepicker-toggle>
                <mat-datepicker #pickerEmissao></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Validade" [formControl]="form.controls['validade']">
              </mat-form-field>
              <textarea *ngIf="form.controls['validade'].hasError('maxlength') && form.controls['validade'].touched"
                class="text-danger font-14">O representante não deve exceder 50 caracteres</textarea>
            </div>
            <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="50">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Prazo de Entrega" [formControl]="form.controls['prazoEntrega']">
              </mat-form-field>
              <textarea
                *ngIf="form.controls['prazoEntrega'].hasError('maxlength') && form.controls['prazoEntrega'].touched"
                class="text-danger font-14">O representante não deve exceder 50 caracteres</textarea>
            </div>
            <div class="p-10 " fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20">
              <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                [floatLabel]="form.value.floatLabel">
                <mat-label>Cond. comercial</mat-label>
                <mat-select required [(ngModel)]="selectedCondComerciais" [ngModelOptions]="{standalone: true}"
                  name="condComercial">
                  <mat-option *ngFor="let condComercial of condComerciais" [value]="condComercial.id">
                    {{condComercial.nome}}
                  </mat-option>
                </mat-select>
                <mat-placeholder>Condição Comercial</mat-placeholder>
              </mat-form-field>
              <div style="font-size: 9px; margin-top: -15px; color:red">{{condComercial}}</div>
            </div>
            <div class="p-10 pad" fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="50">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Observação" [formControl]="form.controls['observacao']">
              </mat-form-field>
              <textarea *ngIf="form.controls['observacao'].hasError('maxlength') && form.controls['observacao'].touched"
                class="text-danger font-14">O representante não deve exceder 50 caracteres</textarea>
            </div>

          </div>
        </form>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <!-- Card column -->
          <div fxFlex.gt-sm="100%" fxFlex="100">
            <mat-card-subtitle class="sub-title">--Selecione o Produto--</mat-card-subtitle>
            <mat-form-field>
              <input matInput type='text' class="form-control" placeholder='Digite para filtrar...'
                (keyup)='updateFilter($event)' />
            </mat-form-field>
            <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [rows]='rows' [loadingIndicator]="loadingIndicator"
              [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
            </ngx-datatable>
          </div>
          <div fxFlex.gt-sm="100%" fxFlex="100">
            <mat-card-subtitle style="margin-top: 2em" class="sub-title">--Produtos Selecionados--</mat-card-subtitle>
            <mt-shopping-cart #shoppingCart></mt-shopping-cart>
          </div>
        </div>
        <div>
          <button mat-stroked-button color="primary" (click)="enviarPedido()" [disabled]="form.valid">Finalizar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>