<div mat-dialog-content>
  <div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="row">
            <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card-title style="margin-top: 20px;">{{pageTitle}}</mat-card-title>
            </div>
          </div>
          <mat-card-subtitle class="sub-title">--Dados do Pedido--</mat-card-subtitle>
          <form [formGroup]="form" class="form">
            <div fxLayout="row wrap" class="row">
              <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
                <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                  [floatLabel]="form.value.floatLabel">
                  <mat-label>Representada.</mat-label>
                  <mat-select required formControlName="representada_id" name="representada">
                    <mat-option *ngFor="let representada of representadas" [value]="representada.id"
                    (click)="CarregarProdutosRepresentada(representada.id)">
                      {{representada.razao_social}}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>Representada</mat-placeholder>
                </mat-form-field>
              </div>
              <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="90">
                <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                  [floatLabel]="form.value.floatLabel">
                  <mat-label>Cliente</mat-label>
                  <mat-select required formControlName="cliente_id" name="cliente">
                    <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
                      {{cliente.razao_social}}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>Cliente</mat-placeholder>
                </mat-form-field>
              </div>
              <div class="add" fxFlex.gt-sm="5" fxFlex.gt-xs="5" fxFlex="10">
                <i class="material-icons plus-icons" (click)="addCliente()">add_circle_outline</i>
              </div>
              <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Data de Emissão</mat-label>
                  <input matInput [matDatepicker]="pickerEmissao" (dateInput)="updateDate('data_emissao', $event)"
                  formControlName="data_emissao" placeholder="Data">
                  <mat-datepicker-toggle matSuffix [for]="pickerEmissao"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEmissao></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="50">
                <mat-form-field appearance="outline">
                  <mat-label>Validade</mat-label>
                  <input matInput placeholder="Validade" formControlName="validade">
                </mat-form-field>
              </div>
              <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="50">
                <mat-form-field appearance="outline">
                  <mat-label>Prazo de Entrega</mat-label>
                  <input matInput placeholder="Prazo de Entrega" formControlName="prazo_entrega">
                </mat-form-field>
              </div>
              <div class="p-10 pad" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Pedido Mínimo</mat-label>
                  <input matInput placeholder="Pedido Mínimo" formControlName="minimo" currencyMask>
                </mat-form-field>
              </div>
              <div class="p-10 pad" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20">
                <mat-form-field appearance="outline" [hideRequiredMarker]="form.value.hideRequired"
                  [floatLabel]="form.value.floatLabel">
                  <mat-label>Cond. comercial</mat-label>
                  <mat-select required formControlName="condicao_comercial_id" name="condComercial">
                    <mat-option *ngFor="let condComercial of condComerciais" [value]="condComercial.id">
                      {{condComercial.nome}}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>Condição Comercial</mat-placeholder>
                </mat-form-field>
                <div style="font-size: 9px; margin-top: -15px; color:red">{{condComercial}}</div>
              </div>
  
              <div class="p-10" style="margin-top:-15px" fxFlex.gt-sm="30" fxFlex.gt-xs="30"
                fxFlex="100">
                <label class="m-r-10">Frete :</label>
                <mat-radio-group formControlName="frete" >
                  <mat-radio-button value="Representada" class="m-r-10">Representada</mat-radio-button>
                  <mat-radio-button value="Cliente">Cliente</mat-radio-button>
                </mat-radio-group>
              </div>
  
            <div class="p-10 pad" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Transportadora</mat-label>
                <input matInput placeholder="Insira a transportadora" formControlName="transportadora">
              </mat-form-field>
            </div>
              <div class="p-10 pad" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Observação</mat-label>
                  <input matInput placeholder="Observação" formControlName="obs">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="100%" fxFlex="100">
                <mat-card-subtitle class="sub-title">--Selecione o Produto--</mat-card-subtitle>
                <mat-form-field>
                  <input matInput type='text' class="form-control" placeholder='Digite para filtrar...'
                    (keyup)='updateFilter($event)' />
                </mat-form-field>
                <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
                  [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [rows]='rows' [loadingIndicator]="loadingIndicator"
                  [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
                </ngx-datatable>
              </div>
              <div formArrayName="orcamento_produtos">
                <div *ngFor="let produto of form.get('orcamento_produtos').controls; index as i" [formGroupName]="i">
                  <div class="title"> {{produto.get('codigo').value}} - {{produto.get('nome').value | slice:0:55}} | 
                    <button (click)="removeItem(i)" mat-icon-button color="warn">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                  <ng-container>
                    <div fxLayout="row wrap">
                      <mat-form-field fxFlex.gt-sm="12" fxFlex.gt-xs="12" fxFlex="12" appearance="outline">
                        <mat-label>Qtd.</mat-label>
                        <input matInput placeholder="Qtd" formControlName="quantidade" (blur)="setTotal(i)" >
                      </mat-form-field>
                      
                      <mat-form-field fxFlex.gt-sm="17" fxFlex.gt-xs="15" fxFlex="15" appearance="outline">
                        <mat-label>Vlr Unit.</mat-label>
                        <input matInput placeholder="Valor unit." formControlName="valor_unitario" (blur)="setTotal(i)" currencyMask>
                      </mat-form-field>
    
                      <mat-form-field fxFlex.gt-sm="12" fxFlex.gt-xs="12" fxFlex="12" appearance="outline">
                        <mat-label>IPI</mat-label>
                        <input matInput placeholder="IPI" formControlName="ipi" mask="percent" (blur)="setTotal(i)" suffix="%">
                      </mat-form-field>
  
                      <mat-form-field fxFlex.gt-sm="17" fxFlex.gt-xs="17" fxFlex="17" appearance="outline">
                        <mat-label>Vlr total</mat-label>
                        <input matInput placeholder="Vlr total" currencyMask formControlName="valor_total" >
                      </mat-form-field>
  
                      <mat-form-field fxFlex.gt-sm="16" fxFlex.gt-xs="16" fxFlex="16" appearance="outline">
                        <mat-label>Tamanho</mat-label>
                        <input matInput placeholder="Tamanho" formControlName="tamanho" >
                      </mat-form-field>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="form.get('orcamento_produtos').controls.length > 0" fxLayoutAlign="end center" >
                  <button mat-button color="warn" (click)="clearProdutos()"><i class="material-icons">delete_outline</i>Limpar</button>
                </div>
              </div>
            </div>
          </form>
          
          <div *ngIf="valorTotal() != 0" style="margin-top: -40px; color: black; text-align: left;">
            <tr>
              <th style="color: red;">Valor Total Nota: {{valorTotal() | currency:'BRL':true:'1.2-2'}}</th>
            </tr>
          </div>
          <div style="margin-top: 20px; margin-left:5px">
            <button mat-stroked-button color="primary" (click)="enviarPedido()" [disabled]="!form.valid">Finalizar</button>
            <button mat-stroked-button color="warn" (click)="dialogRef.close()" >Cancelar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>