.add{
  margin-top: 20px;
}
.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 24px;
  }
  
  .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  }
  
  .example-full-width {
  width: 90%;
  }
  .u {
  text-decoration: underline;
  }
  
  .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  }
  
  .example-full-width {
  width: 90%;
  }
  
  .sub-title{
    text-align: center;
    color: rgb(0, 26, 255);
    font-weight: bold;
  }

  .form{
    font-size:12px;
  }
  