<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title style="font-weight: bold;font-size: x-large;">Funcionários</mat-card-title>
        <mat-card-actions align="end">
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="openDialog()">Novo Funcionário</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
      <mat-tab-group>
        <mat-tab label="Funcionários cadastradas">
          <mat-card-content>
            <!-- <mat-card-title>Buscar</mat-card-title> -->
            <mat-form-field>
              <input matInput type='text' class="form-control" placeholder='Digite um nome para filtrar...'
                (keyup)='updateFilter($event)' />
            </mat-form-field>
            <ngx-datatable #table class='material striped' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [limit]="20" [rows]='rows'>

              <ngx-datatable-column [flexGrow]="0.3" name="ID">
                <ng-template let-value="id" let-row="row" ngx-datatable-cell-template>
                  {{ row.id }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="1.5" name="Nome">
                <ng-template let-value="nome" let-row="row" ngx-datatable-cell-template>
                  {{ row.nome }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="1.5" name="E-mail">
                <ng-template let-value="email" let-row="row" ngx-datatable-cell-template>
                  {{ row.email != "" ? row.email : 'E-mail não cadastrado' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="0.5" name="Status">
                <ng-template let-value="status" let-row="row" ngx-datatable-cell-template>
                  {{ (row.status == true)? "Ativo" : "Inativo" }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="0.8" name="Ações">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <i class="fa fa-pencil button" title="Editar" (click)="edit(row);"></i>
                  <i class="fa fa-eye button" title="Visualizar" (click)="view(row);"></i>
                  <i class="fa fa-trash-o button2" title="Deletar" (click)="delete(row)"></i>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>