<h1 mat-dialog-title>Cadastrar nota fiscal</h1>
<div mat-dialog-content>
  <p>Adicionar nota fiscal para o pedido {{data.num_pedido}}</p>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutWrap="wrap" class="row">
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Numero da nota" [formControl]="form.controls['num_nota']" type="numbers">
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Data de Faturamento</mat-label>
          <input matInput [matDatepicker]="pickerEntrega"
            [formControl]="form.controls['data_faturamento']" placeholder="Data Programada">
          <mat-datepicker-toggle matSuffix [for]="pickerEntrega"></mat-datepicker-toggle>
          <mat-datepicker #pickerEntrega></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Observação" [formControl]="form.controls['obs']"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="!form.valid">Salvar</button>
  <button mat-raised-button color="warn" (click)="cancel()" >Cancelar</button>
</div>
<br>
<div mat-dialog-content>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let step of steps " class="aba" label="{{step.titulo}}">
      <mat-form-field>
        <input matInput type='text' class="form-control" placeholder='Insira um nome para pesquisar...'
        (keyup)='updateFilter($event)' />
      </mat-form-field>
      <ngx-datatable 
      #step.step 
      class='material striped' 
      [columnMode]="'flex'" 
      [headerHeight]="50" 
      [footerHeight]="50"
      [rowHeight]="'auto'" 
      [limit]="5"
      [rows]='rows[step.index]' 
      [selected]="selected"
      [selectionType]="'single'"
      (select)='onSelect($event)' 
      [sorts]="[{prop: 'id', dir: 'asc'}]">
        <ngx-datatable-column  [flexGrow]="0.3" name="Selecionar" [sortable]="false" [draggable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column *ngFor="let column of step.columns"  [flexGrow]=column.width name="{{column.name}}" prop="{{column.prop}}" [ngSwitch]="column.prop">
          <ng-template *ngSwitchCase="'valor_total'" let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value |  date:'dd/MM/yyyy' }}
          </ng-template>
          <ng-template ngSwitchDefault let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-tab>
  </mat-tab-group>
</div>