<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card class="no-shadow">
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-card-title class="title">Relatório de Ranking</mat-card-title>
                    <mat-divider></mat-divider>
                    <div fxLayout="row wrap">

                        <div class="p-10" fxFlex="50">
                            <mat-radio-group appearance="outline" formControlName="status">
                                <mat-radio-button value="todos" class="m-r-10">Todos</mat-radio-button>
                                <mat-radio-button value="pendente" class="m-r-10">Aberto</mat-radio-button>
                                <!-- <mat-radio-button value="parcial" class="m-r-10">Parciais</mat-radio-button> -->
                                <mat-radio-button value="faturado" class="m-r-10">Faturados</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="p-t-10 text" fxFlex="40">
                            <mat-checkbox formControlName="programado">Pedidos Programados</mat-checkbox>
                        </div>

                        <div class="p-10 text" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Selecione a representada...</mat-label>
                                <mat-select formControlName="representada_id" (selectionChange)="getAreas($event.value)">
                                    <mat-option *ngFor="let representada of representadas" [value]="representada.id" > <!--(onSelectionChange)="getAreas(representada.id)"-->
                                        {{representada.nome_fantasia}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="p-10 text" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="areas.length > 0">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Área de Venda...</mat-label>
                                <input type="text" placeholder="Busque a área" aria-label="area" matInput
                                    [formControl]="areaBusca" (keyup)="searchArea()"
                                    [matAutocomplete]="autoArea">
                                <button mat-button matSuffix mat-icon-button aria-label="Clear" type="button"
                                    *ngIf="form.controls['area_venda_id'].value != null">
                                    <mat-icon color="warn" (click)="limparArea();">close</mat-icon>
                                </button>
                                <mat-autocomplete autoActiveFirstOption #autoArea="matAutocomplete">
                                    <mat-option *ngFor="let area of $areas" (click)="setArea(area)"
                                        (onSelectionChange)="setArea(area)" [value]="area.nome">
                                        {{area.nome}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <!-- <div class="p-b-10 p-l-10" fxFlex="100">
                            <mat-radio-group appearance="outline" formControlName="agrupamento">
                                <mat-radio-button value="nao_agrupado" class="m-r-10">Não Agrupado por matriz/filial
                                </mat-radio-button>
                                <mat-radio-button value="agrupado" class="m-r-10">Agrupado por matriz/filial</mat-radio-button>
                            </mat-radio-group>
                        </div> -->

                        <div class="show-title" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span class="p-l-10"> Período</span>
                        </div>

                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data inicial</mat-label>
                                <input matInput [matDatepicker]="dtInicio" placeholder="Data inicial"
                                    formControlName="dtInicio">
                                <mat-datepicker-toggle matSuffix [for]="dtInicio"></mat-datepicker-toggle>
                                <mat-datepicker #dtInicio></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="p-10 text" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
                            <mat-form-field appearance="outline">
                                <mat-label>Data final</mat-label>
                                <input matInput [matDatepicker]="dtFinal" placeholder="Data final"
                                    formControlName="dtFinal">
                                <mat-datepicker-toggle matSuffix [for]="dtFinal"></mat-datepicker-toggle>
                                <mat-datepicker #dtFinal></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="show-title" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span class="p-l-10"> Valor</span>
                        </div>

                        <div class="p-10 text" fxFlex="30">
                            <mat-form-field appearance="outline">
                                <mat-label>Minimo</mat-label>
                                <input matInput placeholder="Minimo" formControlName="minimo" currencyMask>
                            </mat-form-field>
                        </div>

                        <div class="p-10 text" fxFlex="30">
                            <mat-form-field appearance="outline">
                                <mat-label>Maximo</mat-label>
                                <input matInput placeholder="Maximo" formControlName="maximo" currencyMask>
                            </mat-form-field>
                        </div>
                        
                        <div class="show-title" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span class="p-l-10"> Ordenação</span>
                        </div>

                        <div class="p-10 text m-b-10" fxFlex="30">
                            <mat-form-field appearance="outline">
                                <mat-label>Ordenação</mat-label>
                                <mat-select formControlName="ordenacao">
                                    <mat-option value="valor">Valor</mat-option>
                                    <mat-option value="cliente">Cliente</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="p-10 text m-b-10" fxFlex="30">
                            <mat-form-field appearance="outline">
                                <mat-label>tipo</mat-label>
                                <mat-select formControlName="tipo">
                                    <mat-option value="asc">Crescente</mat-option>
                                    <mat-option value="desc">Decrescente</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div>
                        <button mat-raised-button color="primary" type="submit" (click)="submit()">Filtrar</button>
                        <button mat-raised-button class="m-l-10" color="warn" (click)="clear()">Limpar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </div>
</div>